[2012-01-09 18:45] xtat opened #1 "file-extra npm !exist"
readme says: npm install file-extra

there is no file-extra in npm.  i think it should be fs-extra??

[2012-01-09 19:12] #1 closed, assigned to nobody

[2012-05-22 18:34] coolaj86 opened #2 "Merge with fs.extra and mkdirp"
Would be nicer to have a single fs-extra or fs.extra module with all of the little extras in one.

https://github.com/coolaj86/node-examples-js/tree/master/fs.extra

https://github.com/substack/node-mkdirp

[2012-07-26 05:26] coolaj86 opened #4 "version bump to 0.2"
It seems that you broke api compatibility between 0.1.0 and 0.1.2.

Conventionally that would warrant a bump in the minor version for a pre-release product so that others can depend on 0.1.x to add features but not remove them.

I don't know if that was intentional or not, but I think it would be great if you published a 0.1.3 that has backwards compatibility and then published a 0.2 without the b

[2012-07-26 05:31] coolaj86 opened #5 "comments on naming"
- `mkdir` - I believe that `fs-extra.mkdir` should _not_ have different behavior than `fs.mkdir`.

[2012-08-08 04:49] jprichardson opened #6 "Remove CoffeeScript development dependency"

[2012-09-10 20:59] #4 closed, assigned to nobody

[2012-09-22 22:31] andrewrk opened #9 "don't import normal fs stuff into fs-extra"
When reading code, if I come across `fs.mkdir`, I don't expect that to have `mkdir -p` behavior. Code readers should be able to depend on knowing that `fs` is node.js's api unaltered. Better readability would look like this:

[code]

...and then use `fs` for node's native api and `fse` for your extra functionality. This is the best way to write code. You should encourage your users to write code t

[2012-10-04 18:50] andrewrk opened #10 "move / moveFile API"
this module should also have move / moveFile API

[2012-10-08 21:51] jprichardson opened #11 "Thoughts on including a file walker?"
I really like this one: https://github.com/daaku/nodejs-walker

[2012-10-10 04:47] #5 closed, assigned to nobody

[2012-10-10 04:47] #9 closed, assigned to nobody

[2012-10-10 04:48] #6 closed, assigned to nobody

[2012-10-11 18:11] silentrob opened #12 "copyFile & copyFileSync are global"
Mocha is complaining. Just add var to them it everything should be good.

[2012-10-11 18:31] #12 closed, assigned to nobody

[2012-10-12 04:28] jprichardson opened #13 "Thoughts on including a directory tree / file watcher?"
Probably this one... https://github.com/mikeal/watch

[2012-10-19 23:26] blai opened #14 "fs.mkdirSync is broken in 0.3.1"
This was working in 0.2.1. For example, when I try to create `foo/bar/baz/blah`, if `foo/bar/` already exist then it should skip those two and should continue creating all the children folders, it should not throw any exception (at least it wasn't doing that in 0.2.1).

[2012-10-22 16:53] #14 closed, assigned to nobody

[2013-01-08 16:04] jprichardson opened #15 "Implement cp -r but sync aka copySync."

[2013-02-08 23:20] cadorn opened #17 "Use `require("graceful-fs")` if found instead of `require("fs")`"
[code]

See:
- https://github.com/isaacs/rimraf/blob/d8ada0d2f49291048c410be17fa6d93644fad379/rimraf.js#L7-L12
- https://github.com/isaacs/rimraf/blob/d8ada0d2f49291048c410be17fa6d93644fad379/package.json#L12

This would allow me to get rid of the `graceful-fs` dependency in my project and exclusively use `fs-extra` for my FS API.

[2013-02-22 02:23] isimmons opened #19 "fs.copy err is empty array"
I'm using a mix of yeoman functions and node code here so even though the yeoman functions run synchronously by default, I don't know if that means this fs.copy function will wait for them to run. So the issue may be that the file doesn't exist yet but I'm not getting an error from fs.copy().

[code]

I can confirm all the files are copied by yeoman and exist. Then I want to move one file in parti

[2013-02-27 09:59] vslinko opened #20 "fs.remove yields callback before directory is really deleted"
[code]

[2013-02-27 10:02] #20 closed, assigned to nobody

[2013-03-16 15:31] mikermcneil opened #21 "touch() in 0.10.0"
Hey guys, I saw the warning about `touch` being deprecated, but I wanted to mention that in node 0.10.0 it is hanging- might want to change the deprecation warning to an error.

Thanks for the great module!

[2013-03-16 15:33] #21 closed, assigned to nobody

[2013-03-18 16:52] #17 closed, assigned to nobody

[2013-04-22 18:59] cadorn opened #23 "`writeJSON()` should create parent directories"
It seems inconsistent that the other methods automatically create directories and `writeJSON()` does not.

[2013-04-24 14:41] #19 closed, assigned to nobody

[2013-05-14 04:56] binarykitchen opened #24 "[bug] cannot run in strict mode"
hello there

just tried to run my app in strict mode and found this error in the console:

[code]

do you think you could refactor this to make it work for strict mode?

thanks

[2013-05-14 16:08] #23 closed, assigned to nobody

[2013-05-14 16:08] #24 closed, assigned to nobody

[2013-07-09 18:38] ghernandez345 opened #26 "Add readdir recursive method."
kinda like node-wrench readdirRecursive method

[2013-08-09 18:28] jprichardson opened #27 "Update Readme"
Change things like...

[code]

to

[code]

[2013-09-05 16:33] vmeurisse opened #28 "homepage field must be a string url. Deleted."
When installing package `fs-extra`, npm show a warning about home page.

[code]

Please fix your `package.json`

[2013-09-06 02:08] #28 closed, assigned to nobody

[2013-10-06 14:10] philipwalton opened #29 "Copy failing if dest directory doesn't exist. Is this intended?"
I'm getting following error when trying to copy files. It only seems to happen if the file needs to go into a directory that doesn't exist.

Is this supported behavior?

Here's what I'm doing:

[code]

And this is the error I get:

[code]

[2013-10-07 13:32] jprichardson opened #30 "update package.json optional dep `graceful-fs`"

[2013-10-07 19:08] #27 closed, assigned to nobody

[2013-10-07 19:14] #30 closed, assigned to nobody

[2013-10-07 19:16] #29 closed, assigned to nobody

[2013-10-08 16:40] jprichardson opened #31 "Add ensure methods"
"ensure" methods would ensure some type of behavior. For example `ensureDir(dir)` would ensure that the `dir` exists. Or even better, `ensurePath(path)` would ensure that the file or directory exists. `ensureDelete(path)`, `ensureGone(path)` or something similarly named would ensure that the path is deleted or does not exist.

Maybe these names:
- `ensurePathExists(path)`
- `ensurePathNotExists(pa

[2013-10-08 16:43] #26 closed, assigned to nobody

[2013-10-11 21:43] jprichardson opened #32 "update to latest jsonfile"

[2013-10-12 21:19] #32 closed, assigned to nobody

[2013-10-12 21:20] #15 closed, assigned to nobody

[2013-10-12 21:41] jprichardson opened #34 "update docs to include options for JSON methods"

[2013-10-15 01:55] jprichardson opened #37 "Maybe include a line reader?"
It's often useful a read a text file line by line.

[2013-11-21 00:46] nirmelamoud opened #40 "fs.copy throw unexplained error ENOENT, utime"
Hi

trying to copy a file from path a to another path 50% of the time, I get the following error
 Error: ENOENT, utime 'my target path'
 this happen right after I call fs.copy(oldPath, targetpath, function (error) { - -it get to the block with the above error - any idea ?

the file exist in the old path, but the strange thing is that it is also appeared on the target path , so the copy worked ???

[2013-12-17 16:46] btmdave opened #42 "Performance issue?"
I'm using fs.copy on a local SSD and copying a ~500MB file, it seems to take at least 4-5 full seconds to copy.  Any idea why it would take so long? It is copying over to a directory that is about 5 levels deep.

[2013-12-28 20:50] numediaweb opened #43 "Better error reporting"
When supplying a wrong directory name, the copy function returns an undefined error:

[code]

[2013-12-30 16:29] #43 closed, assigned to nobody

[2014-02-05 15:01] bonnevm opened #47 "Bug in copy - callback called on readStream "close" - Fixed in ncp 0.5.0"
The bug is in the ncp version used. It is fixed in 0.5.0.
copy callback called when the readStream "close" event is handled. Therefore, the writeStream is not closed when the callback is called. For example, this can (race condition) create EPERM errors if you try to rename the destination file once the copy is done.

[2014-02-08 06:36] jprichardson opened #48 "fs.copy issue"
From a user:

[2014-02-19 07:13] manV opened #50 "Replace mechanism in createFile"
createFile should have some kind of replace flag so that if someone can replace file if exists.

[2014-02-19 18:49] #50 closed, assigned to nobody

[2014-03-23 22:44] murindwaz opened #53 "outputFile() - ability to write data in appending mode"
Is there a way to support this functionality? say { append : true }
fs.outputFile(file, "hello!", function(err) {

}, { append : true });

[2014-03-29 02:20] cadorn opened #54 "`copy` does not preserve file ownership and permissons"

[2014-04-01 14:24] #2 closed, assigned to nobody

[2014-04-05 13:12] rantiev opened #55 "Is it possible to have any console output similar to Grunt copy module?"
If you try to copy folder content using Grunt copy task. You will see cool inform messages after some files were copied.

[2014-04-06 09:37] coderaiser opened #56 "Crash when have no access to write to destination file in copy"
When I try to copy file and I have no access to write to distillation, my [application](http://cloudcmd.io) is crashing with error:
[code]
There is example of code I use:
[code]
Looks like there is a [problem in ncp module](https://github.com/AvianFlu/ncp/pull/39). But author staying quite. Maybe `ncp` could be changed with another module which do the same, but more correct?

[2014-05-15 14:59] newmanw opened #57 "Possible to include wildcards in delete?"
Would be nice to be able to delete based on wildcards.

    fs.remove('/tmp/something.*', function(err) { ...

[2014-05-16 18:36] bitmage opened #58 "Stack trace not included in fs.copy error"
To reproduce:

[code]
1. Why the array nesting?  Is it necessary?
2. Stack trace should be present.  Mandatory for debugging.

[2014-05-18 22:55] jprichardson opened #59 "Consider including mkdirp and making fs-extra "--use_strict" safe"

[2014-05-22 23:29] #58 closed, assigned to nobody

[2014-05-22 23:35] #10 closed, assigned to nobody

[2014-05-22 23:52] #31 closed, assigned to nobody

[2014-05-22 23:52] #47 closed, assigned to nobody

[2014-05-27 16:41] cadorn opened #60 "chmod & chown for mkdirs"
So I create a bunch of directories with `mkdirs` and now I need to change permissions and ownership for the created directories.

There should be an optional options argument to mkdirs:
[code]

Thoughts on above or how I would solve this otherwise?

[2014-05-29 18:32] pghalliday opened #61 "No longer supports node 0.8 due to use of `^` in package.json dependencies"
This also means that any module that depends on `fs-extra` will fail to install on node 0.8 even though the major version did not change

[2014-05-29 18:43] #61 closed, assigned to nobody

[2014-05-30 20:47] rantiev opened #62 "npm install fs-extra doesn't work"
Hi, I have tried to reinstall all modules. And now i can't install properly fs-extra. Sometimes console says it can't find compatible ncp, module, i try to install ncp, then it start to say that it can't find compatible mkdirp module, then i install mkdirp, and it says about ncp again.

D:\work\WebServers\home\localhost\www\ThemeFramework\ThemeFramework>npm install
fs-extra
npm http GET https://re

[2014-05-30 21:20] #62 closed, assigned to nobody

[2014-06-06 19:16] newmanw opened #63 "Walk"
You mention including a walk feature in the docs.

+1

Not sure its get more simple than something like this:
https://github.com/coolaj86/node-walk

In the end though I understand about 'too much'...

[2014-06-07 05:33] cadorn opened #64 "Announce: mfs - monitor your fs-extra calls"
See: https://github.com/cadorn/mfs

[code]

[2014-06-12 05:36] jjude opened #65 "exclude filter in fs.copy"
Is it possible to exclude certain files in fs.copy? Say I want to exclude .css files?
Thanks

[2014-06-12 19:58] #65 closed, assigned to nobody

[2014-06-26 12:08] seflless opened #66 "ENAMETOOLONG"
I'm getting ENAMETOOLONG on trying to create this file via fsExtra.mkdirs:
ENAMETOOLONG
/Users/flaberge/dev/topperharley/work/507017973001/587bcadc-b170-41f3-bc3e-656be3fe5031/default

But using `mkdir -p /Users/flaberge/dev/topperharley/work/507017973001/587bcadc-b170-41f3-bc3e-656be3fe5031/default` via command line does work.

On the latest MacbookPro, on Yosemite. This looks to be coming from [

[2014-06-26 17:05] #66 closed, assigned to nobody

[2014-06-29 12:14] garyhodgson opened #67 "docs for readJson incorrectly states that is accepts options"
The docs say readJson accepts an options object (`readJson(file, [options], callback)`), and that the options match those in the fs package, but because it in fact delegates to `jsonfile.readFile` it does not accept options.

[2014-06-29 13:06] jprichardson opened #68 "consider flag to readJsonSync (throw false)"
i.e. in case you don't want readJsonSync to throw for whatever reason and want it to return a `null` or `{}`

[2014-06-29 13:30] #67 closed, assigned to nobody

[2014-07-09 17:04] ghost opened #69 "How to check if folder exist and read the folder name"
Its possible check if some folder exist and if exist read or take the folder name and set as variable?

[2014-07-09 18:05] #69 closed, assigned to nobody

[2014-07-09 18:19] ayauka opened #70 "Not filter each file, stops on first false"
Files only filter each file while ever returns true, if the first file on the folder or the folder name dont pass the filter, the copy stops.

[2014-07-11 15:56] cookch10 opened #71 "fse.copy not working on Windows 7 x64 OS, but, copySync does work"
I am attempting to do a very simple file copy operation with fse.copy():

[code]

I tried stepping through the copy method via node debug but I'm not seeing any obvious issues.  The copy method executes without error, however no files are copied.  I tried with and without an existing destination file, and also adding / removing filter and callback parameters.  I also tried changing the paths as fo

[2014-07-15 14:45] #71 closed, assigned to nobody

[2014-08-08 20:23] jprichardson opened #75 "add glob as a dep?"
Add and expose [glob](https://github.com/isaacs/node-glob) dep?

[2014-08-15 16:57] jprichardson opened #76 "Create README reference to typescript"
https://github.com/borisyankov/DefinitelyTyped/blob/master/fs-extra/fs-extra-tests.ts

[2014-08-15 16:58] jprichardson opened #77 "Create README reference to bluebird"

[2014-08-15 17:01] #53 closed, assigned to nobody

[2014-08-15 17:01] #34 closed, assigned to nobody

[2014-08-15 17:03] #68 closed, assigned to nobody

[2014-08-27 06:53] cloudcome opened #79 "fs.copy only .html file empty"
- /src/1.html
- /src/1.js

=>
- /dest/1.html
- /dest/1.js

ret:
**ONLY** 1.html is **EMPTY**

[2014-08-27 19:32] #79 closed, assigned to nobody

[2014-08-28 02:57] kadishmal opened #81 "fd leak after fs.move"
I expect `fs.move` to be a leak-free command. I move the file and no open file descriptor should be left behind.

When uploading files and moving them around while monitoring the open fds per process, I noticed that the target/final file location has open file descriptor. This results in hitting the max fds allowed by OS pretty fast.

[2014-08-28 03:06] #81 closed, assigned to nobody

[2014-09-09 04:05] iwege opened #83 "Prevent copying a directory into itself"
`fse.copy('src','src/dest')`  will create the dest  continues to recurse, and finally it throws an error `ENAMETOOLONG`

It links to AvianFlu/ncp#4

[2014-09-11 16:17] DjebbZ opened #84 "Push latest version to npm ?"
Hello,

Github version is 0.11.0, npm version is 0.8.1.

Thanks in advance !

[2014-09-12 07:49] #84 closed, assigned to nobody

[2014-09-22 14:14] #76 closed, assigned to nobody

[2014-09-22 14:14] #77 closed, assigned to nobody

[2014-09-22 14:15] #64 closed, assigned to nobody

[2014-09-22 18:56] #40 closed, assigned to nobody

[2014-09-23 17:42] stevenvachon opened #86 "no moveSync?"
Everything else seems to have a synchronous version.

[2014-09-25 19:58] polkovnikov-ph opened #87 "createWriteStream + outputFile = ?"
`createWriteString` still doesn't have `mkdir` in it, right?

[2014-09-25 20:06] polkovnikov-ph opened #88 "Stacking those libraries"
There's some `graceful-fs` in your source code, but its usage is inconsistent. Also `graceful-fs` is not the only drop-in library on npm, and there's no way `fs-extra` decides to use another one. When one library mocks interface of another one, it's usually better to do it another way: pass parent library as parameter, i.e.

    // Now I know it's based over graceful-fs without reading source code

[2014-09-29 21:10] Kerrick opened #89 "Error: EEXIST using fs-extra's fs.copy to copy a directory on Windows"
I have the following file structure:

[code]

On OS X, I end up with a `C` directory containing all four `.txt` files, as I'd expect. On Windows, when I try to `fs.copy('A/', 'C');` and then `fs.copy('B/', 'C')`, the second one fails with the following error:

[code]

[2014-10-17 12:54] arunkabraham opened #90 "Folder creation and file copy is Happening in 64 bit machine but not in 32 bit machine"
I have to create a folder and copy files to it
but Folder creation and file copy is working on 64 bit machine not in 32 bit

How can I solve it?

[2014-10-24 03:14] weekeight opened #91 "fs.copySync('/test', '/haha') is different with 'cp -r /test /haha'"
As the title described, we all know the command `cp -r /test /haha` is different with `cp -r /test/ /haha`,  the first copy *test* directory itself into *haha* directory when the second command copy the content of  *test* directory inoto *haha*.
why `fs.copySync('/test', '/haha')` is different with `cp -r /test /haha` ? Are you on purpose?

[2014-11-05 14:33] donaldpipowitch opened #92 "Problems with Bluebird"
Hi,

I try to use fs-extra with bluebird and encounter issues. I'm not really sure, if my code is the problem, fs-extra or bluebird.

Let's take the following example:

[code]

This throws an error: `TypeError: Object #<Object> has no method 'readFile'`. However if I rewrite the example to this everything works:

[code]

What's the difference here? I just wrap the function and return the promise a

[2014-11-07 06:13] #92 closed, assigned to nobody

[2014-11-12 22:22] NeilRickards opened #93 "Confusing error if drive not mounted"
On Windows, if I try to call fs.mkdirsSync('D:/foo/bar'); when the D: drive doesn't exist, the error is:
  RangeError: Maximum call stack size exceeded

A clearer error message would be preferable

[2014-11-25 21:41] falmp opened #94 "Error: EEXIST, file already exists '../mkdirp/bin/cmd.js' on fs.copySync()"
When copying files with fs.copySync(), I'm getting this error:

[code]

Here's a little script to reproduce:

**package.json:**
[code]

**test.js:**
[code]

I'm using node v0.10.33 on Mac OS X 10.10.1.

[2014-11-28 14:38] clmath opened #96 "destFolderExists in copySync is always undefined."
The comment [here](https://github.com/jprichardson/node-fs-extra/blob/master/lib/copy.js#L62) seems to imply that fs.existsSync cannot be used because of problems with tests but the async version fs.exists always return undefined since the resulting value is passed to the callback.

So it looks to me like this is useless.

[2014-12-08 16:02] #96 closed, assigned to nobody

[2014-12-10 21:08] #59 closed, assigned to nobody

[2014-12-13 12:50] malinges opened #98 "fs.copy() incorrect async behavior"
`fs.copy()` seems to have a incorrect async behavior. In some circumstances, the callback is called somewhat randomly: it may be called once, but also twice, three times, or even never.

Here is a basic working example of this issue: https://gist.github.com/malinges/c9d48ffaf8fa940e4df3

This behavior showed up while I was using [grunt-docco](https://github.com/DavidSouther/grunt-docco), which wra

[2014-12-23 21:24] #13 closed, assigned to nobody

[2014-12-28 21:50] jprichardson opened #99 "ensureDir() modes"
https://github.com/substack/node-mkdirp/issues/80

[2015-01-04 17:08] overlookmotel opened #101 "fs-extra promisified"
Just to let you know, I've published a module [fs-extra-promise](https://www.npmjs.com/package/fs-extra-promise) which promisifies fs-extra using bluebird.

For the most part you could just use `bluebird.promisify()`, but there are a few oddities which don't promisify properly. For example, `fs.exists()` doesn't use the usual node callback signature - it just returns `(result)` rather than `(err,

[2015-01-04 19:45] jprichardson commented on #101
Cool, I'll add it to the readme! I like your addition of `isDirectory()`...
I'll probably add that :)

On Sun, Jan 4, 2015 at 11:08 AM, overlookmotel <notifications@github.com>
wrote:

--
Simple & Secure Bitcoin Wallet: https://www.coinbolt.com
Bitcoin / JavaScript: http://cryptocoinjs.com
Follow me on Twitter: http://twitter.com/jprichardson

[2015-01-05 14:15] maboiteaspam opened #102 "touch / touchSync was removed ?"
hi,

i don t really get why touch / touchSync methods was removed.

I was looking for this, and found out, the change log says it was recently removed.
https://github.com/jprichardson/node-fs-extra/search?q=touch&type=Code&utf8=%E2%9C%93

I ll fallback to https://github.com/isaacs/node-touch but seems weird we don t have it in fs-extra as it s kind of common usage.

Besides that, Thanks for this p

[2015-01-05 21:33] jprichardson commented on #101
https://github.com/jprichardson/node-fs-extra/commit/4729391768c20a6a39b67135694d8597bb9e628a#diff-04c6e90faac2675aa89e2176d2eec7d8

[2015-01-05 21:33] #101 closed

[2015-01-06 02:09] maboiteaspam commented on #102
Hi,

ok i ll check this. I needed to touch existing file. Not sure yet methods ensureFile will fill the job.

Thanks again!

[2015-01-06 02:09] #102 closed

[2015-01-06 02:14] jprichardson commented on #102
`touch()` was renamed to `createFile()` and an alias to `createFile()` was setup as `ensureFile()`. So if `touch()` did what you wanted then `ensureFile()/createFile()` would as well since they are exactly the same.

[2015-01-06 02:15] maboiteaspam commented on #102
can t be more clear and straightforward, thanks a lot ! sorry for the doubts : )

[2015-01-07 08:46] jprichardson commented on #98
Yeah, it should be a nice reference, thank you.

The plan moving forward is for me to include a file walker and then build `copy` on top of that. Ultimately, `mkdirs` and `remove()` will be as well, but that's further on down the line. Glob functionality would be awesome as well, but that's even further on down the line.

I've started by including the tests from `ncp` as seen here: https://github.

[2015-01-07 22:13] jprichardson commented on #75
No for now. But the functionality will probably be included in the future.

[2015-01-07 22:13] #75 closed

[2015-01-08 15:15] zg2013 opened #103 "Error: EMFILE with copy"
On the windows8 every error.
Copy a 200M 10000 file folders,File no small problem
code：
![qq 20150108230501](https://cloud.githubusercontent.com/assets/5134292/5664382/ff829530-978a-11e4-9000-818d7e1cc384.png)

error：
![qq 20150108230602](https://cloud.githubusercontent.com/assets/5134292/5664483/c00d2950-978b-11e4-8055-1c097c534f72.png)

Thank you for your offer solutions or fixes BUG！
Copy files

[2015-01-09 08:22] jprichardson commented on #103
This is because the copy module (https://www.npmjs.com/package/ncp) doesn't use the module (https://www.npmjs.com/package/graceful-fs). There's an issue filed: https://github.com/AvianFlu/ncp/pull/70 But they've been unresponsive unfortunately. I plan to rewrite `copy` using `graceful-fs`.

[2015-01-09 12:08] adam-lynch commented on #98
@jprichardson do you have a rough ETA on your rewrite? Sounds like it would take awhile

[2015-01-09 12:15] jprichardson commented on #98
Unfortunately, no. I think it will take awhile. The first step is to build a walker, probably a hybrid of https://github.com/daaku/nodejs-walker and https://github.com/thlorenz/readdirp

[2015-01-09 23:38] robogeek commented on #98
FYI - https://www.npmjs.com/package/globfs

[2015-01-11 18:31] dustin-H opened #104 "fse.move deletes folders"
Hi,

I noticed when I'm moving a folder into itself like
    fse.move('/Users/dustin/fstest/test', '/Users/dustin/fstest/test/test'
the folder gets deleted.
I expected an error or something but not this. Is this a bug?

Best regards

Dustin

[2015-01-17 14:31] jprichardson commented on #104
Yeah, this is definitely a bug...

[2015-01-19 14:33] mzgol opened #105 "fs.copy hangs on iojs"
Steps to reproduce:

1. `git clone git@github.com:mzgol/check-dependencies.git`
2. `cd check-dependencies`
3. Create a file `test.js` with contents:
[code]
4. Run the following command in terminal:
[code]

It works fine on Node 0.10.35 & 0.11.14, it gets stuck indefinitely in io.js 1.0.2.

This is making the tests fail on io.js in my `check-dependencies` module.

fs-extra `0.14.0`, OS X 10.10.1. I

[2015-01-19 15:01] jprichardson commented on #105
It's because of `ncp`. I think there are some other issues related:
https://github.com/avianflu/ncp I'll look into it more. Thanks for
reporting.

On Mon, Jan 19, 2015 at 8:33 AM, Michał Gołębiowski <
notifications@github.com> wrote:

--
Simple & Secure Bitcoin Wallet: https://www.coinbolt.com
Bitcoin / JavaScript: http://cryptocoinjs.com
Follow me on Twitter: http://twitter.com/jprichardson

[2015-01-19 21:11] jprichardson commented on #105
Awaiting on this https://github.com/creationix/nvm/pull/616 When it gets pulled, I'll be able to download and test.

[2015-01-20 14:06] mzgol commented on #105
nvm 0.23.0 with io.js support is out :)

[2015-01-21 11:29] jprichardson commented on #105
Should be fixed now. https://github.com/jprichardson/node-fs-extra/releases/tag/0.15.0

[2015-01-21 11:29] #105 closed

[2015-01-21 11:31] jprichardson commented on #103
Try it now. https://github.com/jprichardson/node-fs-extra/releases/tag/0.15.0 Please reopen if the issue still happens.

[2015-01-21 11:31] #103 closed

[2015-01-21 11:32] jprichardson commented on #98
OK, I've forked `ncp` into `fs-extra`. Will be looking into this next...

[2015-01-22 13:55] mzgol commented on #105
It works now, thanks!

[2015-01-25 08:13] ct-js opened #106 "fse.copySync crashes while copying across devices D:"
If I try to use `fs.copySync` for copying across different disk drives, my app crashes T_T Copying across one drive works well.

[2015-01-25 08:14] jprichardson commented on #106
Platform (Windows, Linux)? Node version? Snippet code to reproduce?

[2015-01-25 08:28] ct-js commented on #106
Windows 8.1, used in nw.js 0.11.5 https://github.com/nwjs/nw.js (actually it shouldn't affect node module), node.js `0.11.13-pre`.

    fs.copySync('C:\Users\Cosmo\Desktop\waves.jpg','D:\ct\blahblah\img\i10.jpg');
    // crash! It doesn't even throws exceptions.

[2015-01-25 08:32] jprichardson commented on #106
Ok, thanks. Does it work by chance if `'D:\ct\blahblah\img\` exists?

[2015-01-25 08:35] ct-js commented on #106
All the needed directories with the source file exist.
I encountered similar problem while using `fs.link` (?) function long ago, and solved that with streams. But it is an asynchronous technique ._.

[2015-01-25 08:42] jprichardson commented on #106
But does it work if the destination directory already exists?

[2015-01-25 08:43] ct-js commented on #106
No :(

[2015-01-27 19:46] #104 closed

[2015-01-27 19:46] jprichardson commented on #104
Thanks for reporting :)

[2015-01-27 19:50] nicks opened #108 "fse.move directories across multiple devices doesn't work"
Create a dir on another device:
[code]

Then try to move it:
[code]

fs.move reports success, and deletes the old directory, but does not actually create the new directory. It just creates an empty 0-length file.

Tested on Linux ip-10-37-137-70 3.10.42-52.145.amzn1.x86_64 #1 SMP Tue Jun 10 23:46:43 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2015-01-27 19:56] jprichardson commented on #108
Awesome, thanks! Looking into it..

[2015-01-27 22:00] dustin-H commented on #104
You're Welcome!

[2015-01-27 22:29] jprichardson commented on #108
Got VM setup, mounted an external device, verified problem. Working on a fix...

[2015-01-28 05:16] #108 closed

[2015-01-28 05:18] jprichardson commented on #108
Fixed. Relevant test here: https://github.com/jprichardson/node-fs-extra/blob/master/test/move.test.js#L171 I'm looking over some `fs.copy` stuff before I publish the new version. New version should be published soon.

[2015-01-28 08:16] #98 closed

[2015-01-28 08:25] jprichardson commented on #98
This has been fixed. Unfortunately, I don't have an automated test to reproduce it. You can verify that this fix does indeed work by doing the following:

Clone the gist from @DavidSouther above. Create a bash script with the following:

[code]

then in bash run:

[code]

You'll see a bunch of clustered:

[code]

The behavior that we want is:

[code]

basically indicating that a callback was only

[2015-01-28 08:46] jprichardson commented on #108
Published. Changelog: https://github.com/jprichardson/node-fs-extra/releases/tag/0.16.0

[2015-01-28 16:04] nicks commented on #108
thanks!

[2015-01-28 20:50] nicks opened #109 "fs.move across windows drives fails"
[code]

emits the following error:
[code]

I believe the detection here is incorrect, and should probably use some other mechanism

[2015-01-28 20:56] jprichardson commented on #109
hah, ok, I'm on it.

[2015-01-28 21:03] jprichardson commented on #109
Published 0.16.3.

[2015-02-03 19:28] overlookmotel commented on #98
Has this not been fixed in ncp? Seems like a serious bug and something the maintainers would want to do something about...

But nice one @jprichardson for fixing it in fs-extra. Can your fix also patch ncp?

[2015-02-03 19:32] jprichardson commented on #98
Sadly it hasn't.

Totally agree.

Yes it's just simply: https://github.com/jprichardson/node-fs-extra/commit/35345a330fedfd2aaab54471d1db9cbcdc087a94. But the ncp maintainers have shown that they're no long interested in maintaining `ncp` and that's why I felt forced to bring the `ncp` code into this module.

[2015-02-03 19:34] overlookmotel commented on #98
What a ball-ache! Seems like ncp is depended on by a lot of other modules.

[2015-02-03 19:36] overlookmotel commented on #98
Did you try issuing a PR on ncp?

[2015-02-03 19:40] jprichardson commented on #98
No because they've been ignoring pretty all of them within the last two months. So I figured there wasn't much of a point.

[2015-02-03 19:43] overlookmotel commented on #98
Fair enough! It's a shame. Least they could do is put something in the README saying the module is no longer maintained.

To my eyes, ncp's coding style is pretty convoluted, so I'm not entirely surprised this kind of bug has crept in.

[2015-02-11 12:40] iantocristian opened #113 "fs.copy seems to callback early if the destination file already exists"

[2015-02-11 22:18] jprichardson commented on #113
Presumably using the latest `fs-extra` version, right? This should have been solved in https://github.com/jprichardson/node-fs-extra/issues/98. Any way you can reproduce it or have a snippet of code? Thanks

[2015-02-20 13:52] darobin opened #114 "Fails to move (rename) directory to non-empty directory even with clobber: true"
The docs seem to indicate that `fs.move(dir, otherDir, { clobber: true })` will move a directory even if there is already content there. Looking at the code it seems that the intent is for that to work for files, it probably works for empty directories (that `rename()` is happy with) but it doesn't work for directories that have content. For that you need to `fs.remove()` them first. Maybe that's

[2015-02-23 08:18] devildeveloper opened #115 ".Copy & .CopySync"
Hi, I'm working on this project: https://github.com/devildeveloper/BlackMeza/blob/master/index.js.
I have the following problem: .copy method does not work. The copySync method only works if I did not send the callback, otherwise generates only the structure of folders.

I'm working with Osx Yosemite

[2015-02-24 15:09] Globegitter commented on #94
@jprichardson Hmmm, for me `fs.copySync(sourcePath, destPath)` just seems to overwrite the file now. I actually want it to throw an error so I can ask the user to overwrite/diff, etc.

[2015-02-24 15:21] Globegitter commented on #94
Hmm, even if I use `fs.copy()` I don't manage to get an error at all, no matter what I set clobber to. And if I do
[code]

I get true for both. So how can I get this to throw an error, intervene, etc when a file already exists?

[2015-02-25 18:36] falmp commented on #94
Still getting an error here with latest versions:

The error is a little bit different though:

[code]

Here are the versions used:

**package.json:**
[code]

[2015-03-03 00:24] jprichardson commented on #114
Hmm. Good point. Do you think it makes sense to "move" a directory to a new directory that has content? It seems to me that should almost always produce an error. But since the functionality is provided for files, perhaps it should be possible for directories since the `{clobber: true}` makes the intent explicit.

What are your thoughts on the proper behavior?

[2015-03-03 00:27] jprichardson commented on #115
Can you produce any code to reproduce the problem? I'm unable to reproduce it. Thanks.

[2015-03-03 00:32] jprichardson commented on #94
By default, do you think the sensible approach is to throw an error if the destination exists? But a flag like `clobber` should exist to allow the user to force it if need be?

[2015-03-03 01:13] Globegitter commented on #94
Yep, I think that would be the most sensible approach - that would be a breaking change though right?

[2015-03-03 10:21] darobin commented on #114
There are cases when you just want to overwrite the directory. In my situation, I have cases in which I can just regenerate a subset of the content, and others in which being smart is hopeless and I just generate a fresh copy to replace the old with. In the latter case I need to build the fresh copy in a temp dir and replace the live one. I'd say if you've specified clobber, you should get clobber

[2015-03-04 07:46] felicienfrancois commented on #115
I have the same issue.
Callback is never called for copy and the copy hang.

Reproduced with a simple directory copy on windows

[2015-03-04 07:53] felicienfrancois commented on #115
I think I have found the issue,

in copy.js, line 40:
[code]

This code does not work under windows if dest argument uses slash instead of anti-slash (which is supported by all fs libraries)
The pathes should not be manipulated using string functions but using path utils:
[code]

Do you want me to make a pull request ?

[2015-03-04 08:09] felicienfrancois commented on #115
that's maybe not the only issue because it also fail with anti-slash pathes and when the dest directory does not exists (not passing the `stats.isDirectory()` test)

[2015-03-04 14:40] jprichardson commented on #115
Yes, would love any help that you're willing to offer :)

[2015-03-06 04:22] malei0311 opened #116 "copySync can only copy directories not files"
I'm using node(v0.12.0)

[2015-03-06 04:26] jprichardson commented on #116
Thanks for the report. I'll look into this next week (unless a PR is submitted before then).

[2015-03-06 04:27] jprichardson commented on #116
Do you have code to reproduce this? Which OS? I only ask because of https://github.com/jprichardson/node-fs-extra/blob/master/test/copy-sync.test.js#L29

[2015-03-06 04:46] malei0311 commented on #116
*  os centos 6.2
*  node version v0.12.0

### code

if I didn't pass a callback parameter, it worked, [as #115](115)

[code]

but, it didn't worked below

[code]
`fs.copy` works fine

[2015-03-06 05:05] jprichardson commented on #116
You don't pass a callback to the sync methods since they happen immediately and block the process. I think I'll update the documentation to make this clear.

[2015-03-08 09:37] felicienfrancois commented on #115
Just made a pull request for the issue I found in my previous comment.

Regarding this issue, I'll try to reproduce and enquire soon.
Anyway, it should should be made clearer:
- `Copysync not working` is not a bug, this is an understanding issue or a documentation issue as sync methods does not accept callback. When passing a callback function, it is taken has a filter option.
This means that the

[2015-03-08 17:11] #114 closed

[2015-03-08 17:12] jprichardson commented on #114
Thanks for the report. Fixed and published!

[2015-03-08 20:24] jprichardson commented on #48
Closing due to lack of context or additional information. `copy()` has changed a lot over the last year.

[2015-03-08 20:24] #48 closed

[2015-03-08 20:28] jprichardson commented on #113
Closing since I believe this be solved with #98. Please reopen if this is still occurring with the latest version.

[2015-03-08 20:28] #113 closed

[2015-03-09 02:32] malei0311 commented on #116
thx~

[2015-03-16 14:23] jprichardson commented on #115
@felicienfrancois are you using the latest `0.16.5`?

[2015-03-16 19:34] felicienfrancois commented on #115
I'm was using either 0.14 or 0.16.4. When I get the issue it was reproductible at 100%.

But I tried to reproduce it later and I never succeed, even on the same computer, with the same setup, same version of fs-extra and same revision of my code.

I no longer have the issue with 0.16.5 but I cannot tell you if the issue is fixed as I'm not able to reproduce it with older version :S.

I don't know

[2015-03-18 16:57] sdnetwork commented on #98
For me the problem appear in ncp when options.modified have been added
https://github.com/AvianFlu/ncp/commit/85cd50a5736f009cb2b50ac2a090542eb27b7e9c

so it appears since the ncp 1.0.0 version, if i have understand the problem.
but in my project i use the 0.5.0 version, and today i have the same behaviour some file are empty, not copied.

i can't reproduce but it is just to ask if you are sure th

[2015-03-19 17:03] jprichardson commented on #94
Working on this... added `clobber` to `copySync()` for files. Will slowly make my way through all of it :) https://github.com/jprichardson/node-fs-extra/commit/0bed228be27249b04caa5f07e05f85f669d2b842 and https://github.com/jprichardson/node-fs-extra/commit/a592001b63a6c5ee9b7a928ad312b077c2e76b00

[2015-03-20 20:26] jacob-adams opened #119 "mkdirs and ensureDir never invoke callback and consume CPU indefinitely if provided a path with invalid characters on Windows"
The following code will never call the provided callback when executed on a windows machine:

    fs.ensureDir('C:\\temp\\a?b', function(err){console.log(err)})

It also makes the node process consume a lot of CPU indefinitely.  For reference, the built-in node function 'fs.mkdir' calls the callback with an error if it is called with a path that has invalid characters.  The following is an example

[2015-03-20 20:36] jprichardson commented on #119
Thanks for the report! I'm going to have to get `fs-extra` setup on AppVeyor to be able to test these Windows specific bugs...

[2015-03-25 15:39] jprichardson commented on #86
Closing for now. This is something that I'm still very interested in and would accept a PR for. But at the moment, there are higher priorities (bugs) that I must address before I start adding new capabilities.

[2015-03-25 15:39] #86 closed

[2015-03-25 15:40] jprichardson commented on #37
Closing for now. `event-stream` is an excellent suggestion to solve this problem.

[2015-03-25 15:40] #37 closed

[2015-03-25 15:42] jprichardson commented on #57
This should actually be possible now that `rimraf` supports wildcards (`fs-extra` depends upon `rimraf`). Closing.

[2015-03-25 15:42] #57 closed

[2015-03-28 13:37] jprichardson commented on #87
Done. https://github.com/jprichardson/node-fs-extra/pull/118

[2015-03-28 13:37] #87 closed

[2015-03-28 13:40] #88 closed

[2015-03-29 06:08] futagoza opened #120 "usage bug caused by shallow cloning methods of 'graceful-fs'"
*fs-extra* shallow clones the methods from *graceful-fs*, but this seems to cause a usage bug in newer Node.js and IO.js builds, because newer non-method properties from the native *fs* module are ignored, for example 'fs.F_OK' used by 'fs.access(Sync)' cannot be accessed.

I did a simple [workaround by shallow cloning first *fs* and then *fs-extra*](https://github.com/futagoza/efe/commit/73d420a1

[2015-04-01 01:59] jprichardson commented on #98
@sdnetwork does it work with `fs-extra@0.18.0`?

[2015-04-01 04:25] brycepj opened #121 "emptyDir is undefined"
It's documented in the README, but it took me about a half hour of debugging to realize my code was breaking because `fs.emptyDir` returns `undefined` for me.

Working with v.0.17.0

The portion of the API I'd expect to see it in:
[code]

[2015-04-01 04:34] brycepj commented on #121
Ah, it looks like the README reflects v.0.18.0 (https://github.com/jprichardson/node-fs-extra/commit/bada977aa5d4c6f3e61fc3ca61c96b0c1838fa09), which is when `emptyDir` was added (8 hours ago). I first installed `fs-extra` yesterday, but didn't look up `emptyDir` in the docs til a few hours ago.

If someone runs into this, just bump your version to `0.18.0`.

(btw, thanks for maintaining this, @jp

[2015-04-01 04:34] #121 closed

[2015-04-01 06:10] jprichardson commented on #120
awesome, thanks for pointing out :)

[2015-04-04 13:39] JimiSpire opened #123 "Only copy the content of a directory"
How should i go about copying not a directory but its content, like bash cp -r fromDir/* to/Dir   ?

[2015-04-05 04:45] jprichardson commented on #123
This will be implemented in `fs-extra` eventually, but it will be awhile. You'd have to copy each item in the directory.

[2015-04-05 04:45] #123 closed

[2015-04-07 21:35] jabjab commented on #63
@mikermcneil Just a note, but something similar to the output of [Python's walk function](https://docs.python.org/3/library/os.html#os.walk) might be useful. The output for each directory in the tree operated on is a `(dirpath, subdirnames, filenames)` tuple, and it avoids having to repeat the path for every file and every subdirectory in the current dir (though you'll still end up with the subdir

[2015-04-08 02:52] cookch10 commented on #63
What about writing an event emitter around `enumerateFileSystemInfos` from [fs-filesysteminfo](https://github.com/cookch10/node-fs-filesysteminfo)?  May or may not be a good fit, but a suggestion nonetheless.

[2015-04-08 02:56] jprichardson commented on #63
I really like the streaming interface provided by https://github.com/thlorenz/readdirp. So far, that's the direction that I'm leaning towards.

[2015-04-08 02:57] jprichardson commented on #11
Closing this in favor of discussion in https://github.com/jprichardson/node-fs-extra/issues/63

[2015-04-08 02:57] #11 closed

[2015-04-08 19:11] newmanw opened #124 "move with clobber option 'ENOTEMPTY'"
I am trying to move a directory using the move function:

[code]

other dir is a directory that has a bunch of stuff already in it.

I get the following error:
Error: ENOTEMPTY,

[2015-04-09 18:46] jprichardson commented on #124
Are you using the latest `fs-extra` version? Which operating system? Which Node version? This should work: https://github.com/jprichardson/node-fs-extra/blob/0.18.0/test/move.test.js#L224

[2015-04-10 08:55] jprichardson commented on #42
Closing this. Please reopen or recreate a new issue as much has changed since this was posted.

[2015-04-10 08:55] #42 closed

[2015-04-10 08:58] jprichardson commented on #55
This will happen eventually, but we're not at that point just yet. See https://github.com/jprichardson/node-fs-extra#hacking-on-fs-extra for roadmap details.

[2015-04-10 08:58] #55 closed

[2015-04-10 22:53] awaldow commented on #116
Since at its core copyFileSync is using the normal node fs.(read|write)Sync methods you would deal with errors in copySync the same as with those, since copySync uses copyFileSync to do the real work anyways. It does a check for existence and explicitly throws an 'EEXISTS' error at the beginning but aside from that any other types of filesystem errors would (I assume) be thrown via the normal fs s

[2015-04-13 15:54] shehzan10 opened #125 "Question: What do the *Sync function do different from non-sync"
Do they either:
* Use rsync style copy instead of cp style? or
* Do a synchronous copy, ie. the command waits until the copy is finished?

[2015-04-13 19:59] jprichardson commented on #125
Yep.

[2015-04-13 19:59] #125 closed

[2015-04-14 01:22] mike-aungsan opened #126 "TypeError: Object #<Object> has no method 'access'"
TypeError: Object #<Object> has no method 'access'

all fs function should be available rt?

[2015-04-14 01:32] mike-aungsan commented on #126
This seem to be node issue. I tested with fs module.

[2015-04-14 01:32] #126 closed

[2015-04-14 03:00] jprichardson commented on #126
Presumably you're using node 0.10.x? If so, those methods aren't available.

On Monday, April 13, 2015, mike <notifications@github.com> wrote:

--
Simple & Secure Bitcoin Wallet: https://www.coinbolt.com
Bitcoin / JavaScript: http://cryptocoinjs.com
Follow JP Richardson on Twitter: https://twitter.com/jprichardson

[2015-04-15 20:31] jprichardson commented on #90
Closing. Please try the latest version of `fs-extra`.

[2015-04-15 20:31] #90 closed

[2015-04-17 16:04] #120 closed

[2015-04-17 16:05] jprichardson opened #127 "consider using fs.access to remove deprecated warnings for fs.exists"
See: https://github.com/futagoza/efe/blob/39538c05bdab0d5ed947a8f3ae8b6b6d11de71e7/index.js#L57

[2015-04-18 09:03] jprichardson commented on #56
Added a test for this: https://github.com/jprichardson/node-fs-extra/commit/4cc4c2eac656fb2e6fcb0f7a00d3a3037aa584a2 Was fixed awhile ago.

[2015-04-18 09:03] #56 closed

[2015-04-19 09:31] jprichardson commented on #60
Closing. In the long-run, something like this would be great. But before we get there, we'll need a recursive `chmod`/`chown`. Before we get those methods, we'll need a `walk()`. So this would be a long way off :(

[2015-04-19 09:31] #60 closed

[2015-04-19 09:32] jprichardson commented on #70
Closing. Please try the latest version. If it does not work, please create a new issue with a snippet. Thank you.

[2015-04-19 09:32] #70 closed

[2015-04-19 09:51] jprichardson commented on #89
Thanks for reporting. I'm not sure why I didn't follow up immediately awhile back, sorry about that. I've started working on this https://github.com/jprichardson/node-fs-extra/blob/master/test/copy/async/copy-gh-89.test.js But while writing the test, I realized that it's not entirely clear how `fs-extra` should handle this issue today. They should definitely be consistent, that's for sure.

`fs-ex

[2015-04-20 02:17] luozhihua opened #128 "fsExtra.move(filepath, newPath) broken;"
[code]

[2015-04-20 02:23] jprichardson commented on #128
Will you paste the snippet that you're calling it with?

[2015-04-20 02:26] jprichardson commented on #128
Oh, you're not passing in a callback, that's why.

Do this:

[code]

[2015-04-20 02:26] #128 closed

[2015-04-20 09:00] luozhihua commented on #128
Thanks!

[2015-04-24 19:14] cjroth commented on #86
+1

[2015-05-03 07:28] Alex0007 opened #131 "copySync is not working iojs 1.8.4 on linux"
[code]
Async version of this -- works, but sync is not

[2015-05-19 09:26] deyhle opened #135 "emptyDir throws Error if no callback is provided"
I use `emptyDir(…)` in a mocha `after` hook to delete files generated by my test cases:

[code]

This throws the following error in node's `fs` (?) if no `callback` argument is provided:

[code]

If I provide an empty function as callback, all is fine:

[code]

I'm on Node v0.12.2.

[2015-05-19 13:18] jprichardson commented on #135
This definitely shouldn't throw an error if no callback is provided, but why don't you just do this in meantime?

[code]

[2015-05-20 01:11] #109 closed

[2015-05-24 17:04] kevinohara80 opened #137 "outputFile/outputJson: Unexpected end of input"
I have a simple script that reads a JSON file using `readJson`, sets some properties on it, then writes it back to the file system. I've tried writing using both `outputJson` and `outputFile` and both throw a JSON parse error inside of jsonfile.

[code]

Note: I am wrapping all functions in fs-extra in promises using bluebird and `Promise.promisifyAll(require('fs-extra'))`. This has been working f

[2015-05-24 17:13] jprichardson commented on #137
It's tough to say without any snippets of code.

`outputFile` doesn't do anything with JSON. If you would post a snippet to reproduce the problem, that'd be helpful.

[2015-05-24 17:14] jprichardson commented on #137
Also, what does this mean? Did you upgrade to another version of `fs-extra` and now it broke? Does it mean that you changed some of your code? Does it mean that the data changed?

[2015-05-24 18:06] kevinohara80 commented on #137
Wrapping all of fs-extra in promises has worked fine until this point. Now I'm writing a JSON file back to the file system and getting this exception somewhere inside of jsonfile. This happens when I use both outputJson and outputFile.

I'm going to have to work up repro code as there's too much going on in the project I'm working on. I'll see if I can get something simple that demonstrates the is

[2015-05-29 19:21] goloroden opened #138 "Preserve timestamps on copying files"
On Unix it is possible to copy a file with the `-p` flag to preserve timestamps. It would be awesome if this option could be supported by fs-extra.

Basically I think that this should be quite easy to implement since Node.js already has the [`fs.utimes`](https://nodejs.org/api/fs.html#fs_fs_utimes_path_atime_mtime_callback) function that should have you covered.

There may be two options on how to

[2015-05-29 19:51] jprichardson commented on #138
I'd definitely support this. The behavior to mimic is whatever Windows/POSIX `copy`/`cp` does.

[2015-05-29 19:58] goloroden commented on #138
Thanks for your fast reply :-). We figured out how to do it.

We'll send a pull request in a few minutes :-)

[2015-06-07 13:27] jprichardson commented on #89
Test implemented with expected behavior: https://github.com/jprichardson/node-fs-extra/commit/3c1a6c6567d30635dac5eac4ab584a241520da5a Passes on Windows as well. Let me know if you have anymore issues. Thanks.

[2015-06-07 13:27] #89 closed

[2015-06-19 15:01] jprichardson commented on #63
This has been started: https://github.com/jprichardson/node-fs-extra/tree/master/lib/walk It's intentionally left undocumented as the interface will almost certainly change.

[2015-06-21 15:11] jprichardson commented on #91
This will happen eventually, but it's not a priority at the moment. The priorities for this module at the moment are to squash all bugs and make sure that it works really well on all platforms with explicit conventions. i.e. `fs.copy('/dir1', '/dir2/')` would have the same behavior as `fs.copy('/dir1/', '/dir2')`. In the future, I will add wildcards to copy content. Closing for now.

[2015-06-21 15:11] #91 closed

[2015-06-21 15:12] jprichardson commented on #124
Closing, please reopen if still having the issue.

[2015-06-21 15:12] #124 closed

[2015-06-22 10:51] Edifice opened #140 "Json file reading fails with 'utf8'"
When I call "fs.readJsonFileSync(path, 'utf8')", I get the following error:

    TypeError: Cannot use 'in' operator to search for 'throws' in utf8
        at Object.readFileSync (/Users/.../node_modules/fs-extra/node_modules/jsonfile/index.js:25:33)
        ...

OS: OS X Yosemite 10.10.3
Fs-extra: "0.18.4"

[2015-06-22 12:51] jprichardson commented on #140
If you remove `'utf8`, do you get the same error?

[2015-06-22 13:52] Edifice commented on #140
No, it works fine then (this is my workaround for now)
But I'm worried about it, when our project will support multiple languages, it might be a problem. (in the next couple of month)
And it might be a problem for others too.

[2015-06-22 14:00] jprichardson commented on #140
Another workaround should be `{encoding: 'utf8'}`.

[2015-06-22 21:00] jprichardson commented on #140
Ok, this has been fixed in `jsonfile@2.1.2`. Reinstall `fs-extra` to get the latest `jsonfile` version. In your case, `npm -i --save fs-extra@0.18.4`. Note: If you upgrade to `fs-extra@0.20.x`, the method `readJsonFileSync` does not exist anymore; you'll have to use `readJsonSync` which is the exact same.

[2015-06-22 21:00] #140 closed

[2015-06-24 07:18] valllabh opened #142 "PrependFile Feature"

[2015-06-24 14:45] jprichardson commented on #142
Not at this time.

[2015-06-24 14:45] #142 closed

[2015-06-26 14:17] #138 closed

[2015-06-26 20:23] goloroden commented on #138
Awesome, thanks :-)))

[2015-06-27 21:49] futagoza opened #143 "update graceful-fs"
Can you update [graceful-fs](https://www.npmjs.com/package/graceful-fs) from `3.0.2` to `4.1.2`?

It seems that [mock-fs](https://www.npmjs.com/package/mock-fs) and my module ([efe](https://www.npmjs.com/package/efe)) were having trouble overwriting the native fs
because graceful-fs used to bootstrap the built-in `fs` via the `vm` module.

With the latest version (graceful-fs@4.1.2), mock-fs works

[2015-06-27 22:25] futagoza opened #144 "tests failing"
# Implementation
Your new implementation of running the tests is okay if the module being tested isn't under some folder called `node_modules` some where in its pathname, but if it is, 0 tests are found.
It runs fine with this code: https://shrib.com/fs-extra-test.js-fix?v=pr

# Copy, move and ncp
I'm not sure these other errors are related to me running on Windows 8.1 x64, but thought I should pu

[2015-06-28 15:32] jprichardson commented on #144
Your first point about the tests not running, I'm not clear about the case where they're not?

Regarding the tests failing, that's because you pulled the master branch (development). There's one issue that I believe to be a bug in io.js. More details here: https://github.com/jprichardson/node-fs-extra/pull/141.

[2015-06-28 15:46] #143 closed

[2015-06-28 15:47] jprichardson commented on #143
Done. I won't release just yet... I'm hoping that https://github.com/nodejs/io.js/issues/2069 has some resolution soon.

[2015-06-29 09:59] futagoza commented on #144
Your `tests.js` file works if its located in `C:/dev/node-fs-extra`, finding 60+ tests, but fails with your code if the file is located in `C:/dev/efe/node_modules/fs-extra`, finding 0 tests.

In [my edited `file.js`](https://shrib.com/fs-extra-test.js-fix?v=pr) I have removed the line that looks for node_modules in the file path, also setting the walk method to look in `./lib` only. This works fi

[2015-07-02 12:00] futagoza commented on #144
@jprichardson any update on this? Right now I've got a edited cloned repo with the changes I've mentioned above so that I can optionally run the fs-extra tests (correctly, see above note about 'node_modules') along with mine

[2015-07-02 12:17] jprichardson commented on #144
Sure, please submit a PR and I'll accept it. But note, it should find > 100 tests in either scenario.

[2015-07-02 12:37] futagoza commented on #144
Ok, I'll do that later on today when I get home

[2015-07-02 16:45] jdalton opened #145 "Add `fs.exists` and `fs.existsSync` if it doesn't exist."
Since `fs.exists` and `fs.existsSync` [are deprecated](https://github.com/nodejs/io.js/issues/103) it would be good to check if they exist and add them if they don't. You could reference https://github.com/sindresorhus/path-exists.

[2015-07-02 17:43] jprichardson commented on #145
I've considered this, but haven't acted because it's my understanding that despite the fact that they're being deprecated, they're still currently included in io.js and the deprecation message hasn't been enabled yet (or was disabled - https://github.com/nodejs/io.js/issues/257). So I didn't feel any sense of urgency. Do you know if there's any discussion on actually removing the methods? Regardle

[2015-07-02 17:46] jdalton commented on #145
I do not.

Yap. I figure if it were added then when they do pull the trigger fs-extra would be ready.

[2015-07-03 15:28] futagoza commented on #144
Sorry for the delay, I got wrapped up in a problem.

I cloned from [#ff2d36](https://github.com/jprichardson/node-fs-extra/commit/ff2d362f059d4f28c0b866cfaef675816ad4b9c2), which is 5 commits ago as of now.

The modified `test.js` is only finding 43 tests, I can't find the other 50+
Are you sure there are 100+ tests?

[2015-07-03 17:04] jprichardson commented on #144
Yes :) https://travis-ci.org/jprichardson/node-fs-extra/jobs/69456709 Results from your pull request. I'm really curious to as why on your system there's only 43. If it's helpful I could attach an output from either `spec` or `json` and you could do a diff and see which ones aren't coming up...

[2015-07-03 18:13] futagoza commented on #144
oh lol, your talking about the individual registered tests aren't you? All this time I though you were talking about the files that contain the tests, which are only 43 files :D

[2015-07-03 18:37] jprichardson commented on #144
Oh haha... that makes sense!

[2015-07-03 18:38] jprichardson commented on #144
Closing as https://github.com/jprichardson/node-fs-extra/pull/146 fixes this. Thanks!

[2015-07-03 18:38] #144 closed

[2015-07-06 20:33] paroga opened #147 "Adding rmdirIfEmpty"
Would you accept an PR (with tests and documentation) for a function which deletes an directly if it is empty?

[code]

[2015-07-06 20:39] jprichardson commented on #147
What's the use case?

[2015-07-06 20:47] paroga commented on #147
Cleanup to get rid of useless directories.
Imagine a folder structure like in the ".git/objects" folder, where the filename is split up in the first two characters and all other. When a file is removed the parent folder should be removed too, if there are no files remaining.

[2015-07-06 21:16] jprichardson commented on #147
While I can see the utility in it, I'm going to reject the idea for now. I'm trying to keep the API surface area as minimal as possible for the time being. My main priority is getting to 1.0. Thanks for your interest though.

[2015-07-06 21:16] #147 closed

[2015-07-06 21:19] paroga commented on #147
thx anyway. good luck for 1.0! :-)

[2015-07-09 10:49] jprichardson commented on #54
One step closer: https://github.com/jprichardson/node-fs-extra/commit/082aa7f4ba95fd05f186c31cba7f3af61328f9a2 Preserving modes is fixed.

[2015-07-09 11:04] jprichardson opened #148 "split out `Sync` methods in documentation"
Currently `*Sync` methods aren't documented on their own. They should be for the followings reasons:
1. New users to Node.js think that a callback needs to be passed to the sync methods.
2. Certain nuances may exist that deserve to be documented.

[2015-07-09 11:37] jprichardson commented on #54
https://github.com/jprichardson/node-fs-extra/releases/tag/0.22.0

[2015-07-09 11:37] #54 closed

[2015-07-09 14:12] barocsi opened #149 "/tmp/millis-test-sync"
When multiple nodejs instances are running they all want to access this same file thus permission denied Error: EACCES, permission denied '/tmp/millis-test-sync'

[2015-07-09 14:42] jprichardson commented on #149
You're running multiple fs-extra tests or what?

[2015-07-09 14:43] barocsi commented on #149
just multiple nodejs worker instances on the same host

[2015-07-09 14:46] jprichardson commented on #149
Ahh, I figured out the problem: https://github.com/jprichardson/node-fs-extra/blob/5b8470815c7fcae0f62a5830ae8de097d6a5df3f/lib/util/utimes.js#L10 Fixing...

[2015-07-09 14:55] #149 closed

[2015-07-09 14:56] jprichardson commented on #149
Ok, pending all tests pass on Travis/Appveyor, I'll publish. Should be shortly.

[2015-07-09 15:08] jprichardson commented on #149
Published fix in `0.22.1`.

[2015-07-09 15:08] jprichardson commented on #149
Thanks for reporting :)

[2015-07-13 08:30] jprichardson commented on #63
Walker streams implementation complete: https://github.com/jprichardson/node-fs-extra/commit/f215fc3c568dfa8e58f4f49b6c77a499309ac7fc

Pretty basic, but it gets the job done. Now to add tests / documentation.

[2015-07-13 08:33] jprichardson commented on #83
Off the cuff, I'd say that I could just resolve the paths and check if one is a substring of the other. But I'd be concerned about introducing regressions. Thoughts?

[2015-07-13 10:10] jprichardson opened #150 "Remove test file fixtures, create with code."

[2015-07-14 02:24] iwege commented on #83
I have collected some cases in this pr https://github.com/AvianFlu/ncp/pull/61, maybe you can use it as a reference.

[2015-07-15 17:57] joepie91 opened #151 "TOC does not work correctly on npm"
In the [Table of Contents on npm](https://www.npmjs.com/package/fs-extra#methods) (named 'Methods'), at least one link - that for `remove` - does not work. This seems to be due to a difference in anchor generation between GitHub and npm (`removedir-callback` vs. `remove-dir-callback`).

I'm not sure who would be responsible for patching this (npm, perhaps?), but I figured I'd make note of it, as i

[2015-07-16 09:52] jprichardson commented on #151
Thanks for notifying me, I'll just change the signatures so that they match :)

[2015-07-19 04:26] goloroden commented on #145
There was a reason why they were deprecated: It misleads developers to rely on them to ensure that a file exists, but it directly leads to a race condition.

Hence, it's basically a good thing that they have been deprecated. I'm not sure if `fs-extra` should re-enable them, with respect to the fact that there is an actual reason why they have been deprecated.

Wouldn't it be better to help spread

[2015-07-19 06:37] jdalton commented on #145
I think it's handy and worst case document the possible race condition. I suspect it doesn't apply to most devs using it so a doc note would do.

[2015-07-19 12:22] goloroden opened #152 "fs.copy fails for read-only files with preserveTimestamp=true"
When trying to `fs.copy` a directory with `preserveTimestamps` set to `true`, most of the times everything works fine.

The situation where it does _not_ work is when you try to copy a directory that contains files that the user does not have write access to, e.g. a `.git` directory (some of the files below `.git/objects/pack` are read-only for the user).

Then, `fs.copy` fails with an `EACCES` er

[2015-07-19 12:59] goloroden commented on #152
I have sent a PR that passes your tests, at least on Linux. On Windows, it fails :-(

Unfortunately, I do not have a Windows box, but maybe you find the time to have a look at it :-)

[2015-07-19 14:02] jprichardson commented on #145
I think the core Node devs are wrong on this one. No doubt that they're right that it *could* lead to a race condition if you check if a file exists before opening it. But sometimes you just want to know if a file exists or not. Not because you want to read/write it, but because the mere existence may indicate the completion of some operation.

That being said, they're very useful methods and `fs-

[2015-07-19 14:05] goloroden commented on #145
@jprichardson What about `isPresent` as an alternative name for `exists`? The `is` would also indicate that its return value is boolean.

[2015-07-21 01:51] acmello commented on #145
so how's that so far? will it be added? I was working on a solution and this would be quite handy since I'm already using the fs-extra module but also, the deprecated fs.exists  from fs. Btw, isPresent would be a good name :)

[2015-07-21 02:23] jprichardson commented on #145
@acmello no work has commenced on this yet. It's not because it's difficult, it's actually all very trivial. Rather, it's because it's good to let issues like this marinate for the sake of discussion. To bikeshed a bit, what about `doesExist()` for a name?

[2015-07-21 02:31] acmello commented on #145
@jprichardson I was actually glad to see that you guys were talking about it. ```doesExist()``` is also a good one!

[2015-07-21 04:29] khemer opened #154 "/tmp/millis-test-sync"
I'm having problem after I update ember-cli to the latest version 1.13.1.

When multiple users access different ember project, all ember instance access the same file(/tmp/millis-test-sync), thus I'm having permission error.
ex:
user1
cd ~/project1/
ember -v
result: display the ember version 1.13.1

user2
cd ~/project2/
ember -v
result: permission denied in /tmp/millis-test-sync

I follow this iss

[2015-07-21 10:16] jprichardson commented on #154
`fs-extra@0.22.1` doesn't access `'/tmp/millis-test-sync'` so you must be using an old version of `fs-extra` somewhere. My advice would be to delete any `fs-extra` instances locally and globally and the same for `ember-cli`.

[code]

and then reinstall `ember-cli`.

[2015-07-22 01:54] khemer commented on #154
I found out the problem.

- As you say I did uninstall fs-extra and ember-cli globally and locally
- After that, I reinstall ember-cli
- next I try to test it again

<i>&emsp; user1
&emsp; cd ~/project1/
&emsp; ember -v
&emsp; result: display the ember version 1.13.1

&emsp; user2
&emsp; cd ~/project2/
&emsp; ember -v
&emsp; result: permission denied in /tmp/millis-test-sync</i>

- The problem per

[2015-07-22 02:20] jprichardson commented on #154
Try this:

    rm -rf (/usr/local/lib/node_modules/ember-cli/

then:

    npm cache clean
    npm i -g ember-cli@latest

and then try your test again.

[2015-07-22 02:21] jprichardson commented on #154
I'm guessing it was just picking up an old stale version? Not sure... but it is weird.

[2015-07-22 03:27] khemer commented on #154
the problem still persist, ember-cli@latest v1.13.1 is using the old version fs-extra.
installing fs-extra@latest will not update fs-extra in this directory <code>node_module/ember-cli/node_modules/fs-extra</code> instead will install it in this directory <code>node_module/fs-extra</code>.

by manually moving node_module/fs-extra to node_module/ember-cli/node_modules/fs-extra solve my problem.

Ye

[2015-07-22 03:27] #154 closed

[2015-07-22 09:15] jprichardson commented on #154
No problem :)

[2015-07-24 01:17] jprichardson opened #155 "Readme"
Remove note about wild cards / filters.

[2015-07-28 22:11] louwers opened #156 "Promise.promisifyAll doesn't work for some methods"
Hi there!

Since it is mentioned in the README that fs-extra's methods can be promisified with bluebird's promisifyAll method, I figured out that I should report the following: not all methods seem to be promisified correctly with that method.

As far as I can tell, .readJson is one such method.

Using `var fs = Promise.promisifyAll(require('fs-extra'))` yields the following error upon evoking `fs

[2015-07-28 22:44] jprichardson commented on #156
It's because `promsifyAll` appends `Async` to the method.

See this snippet:

[code]

[2015-07-28 22:44] #156 closed

[2015-07-28 22:45] jprichardson commented on #156
https://github.com/petkaantonov/bluebird/blob/master/API.md#promisepromisifyallobject-target--object-options---object

[2015-07-29 06:55] donaldpipowitch opened #157 "Issues using writeJson with Babel"
If I `writeJson` my output isn't formatted. I think this is a problem with `jsonfile`? I use the most recent version.

[code]

[2015-07-29 13:22] jprichardson commented on #157
What is the output that you get from this snippet?

[code]

[2015-07-29 17:48] louwers commented on #156
Thank you for enlightening me.
Lesson learned: RTFM.

[2015-07-29 18:41] jprichardson commented on #156
It's ok, we've all been there :)

[2015-07-30 04:23] reggi opened #158 "Feature Request: ensureLink and ensureSymlink methods"
I'd really love support for `fse.ensureLink` and `fse.ensureSymlink`. How can we make this happen?

I have really crappy examples right now :(

**Note**: They're Promises.

fsEnsureLink

[code]

fsEnsureSymlink

[code]

[2015-07-30 13:38] jprichardson commented on #158
I definitely see the utility in these functions. I'd accept a PR. Here's what's required:

1. Implement without promises.
2. Implement corresponding sync version.
3. Create some tests. At minimum, one for sync and one for async. More is always better.
4. Update documentation with new version.

If you're up for the task, please just start with one. Thanks.

[2015-07-30 16:24] reggi commented on #158
@jprichardson I'm on it `ensureSymlink()` is almost done I copied the [`index.js` for ensure](https://github.com/jprichardson/node-fs-extra/tree/master/lib/ensure) and I'm following that as a template. . How should I organize the files? Rename the current `index.js` to `file.js` and have something like this:

[code]

Or should they all be in that one `index.js` file?

[2015-07-30 16:32] jprichardson commented on #158
Yeah, `symlink.js` and `link.js` is fine.

[2015-07-30 16:51] reggi commented on #158
For node's native `symlink` there's three arguments, `srcpath`, `dstpath`, and `type`. The way I wrote it is that `fs.lstat` is ran on the `srcpath` and then I can determine the type of the file with the returns `stats.isDirectory()` an `stats.isFile()` this can supply the default type. From there we can either allow an optional type to override this, or not include it at all as an argument. What

[2015-07-30 16:54] reggi commented on #158
Also should the `mkdirs` be created if the `symlink` operation itself throws an error. In worst case scenario `dirs get made` and the `symlink` doesn't because either the source is missing or the destination exists. Should I check both cases before making dirs? Or is it not that important?

[2015-07-30 17:06] reggi commented on #158
One last question is should the paths or at least srcpath be automatically `path.resolve`d? Symlinks aren't created property if a relative srcpath is used.

http://stackoverflow.com/questions/31717180/creating-broken-symlink/31717329#31717329

[2015-07-30 18:36] jprichardson commented on #158
Excellent question. I really like the idea of detection and with added option to override. I'd love this, but that does mean more tests. For the sake of simplicity and just getting it shipped and done, it may be best to just have the option (node spec). It depends how much work you want to do :)

The function should have minimal side effects has possible. So, if the there's a symlink error, the di

[2015-07-30 22:48] reggi commented on #158
Thanks for all this @jprichardson, last question is what are your thoughts on adding deps to the project? I want to use [argx](https://github.com/okunishinishi/node-argx), and [async](https://github.com/caolan/async). Are you against this?

[2015-07-30 23:09] jprichardson commented on #158
I'm against it at the moment for this library. I'm sure long-term, I'll break this library up. But at the moment, my major focus is getting to `1.0` with the dependencies that already exist. What's your use case for `async` in this specific situation?

[2015-07-30 23:11] reggi commented on #158
No need to use them, I can manage without. Thanks for expressing your concerns.

[2015-07-31 05:41] donaldpipowitch commented on #157
Well... the output is correct:

[code]

To be honest, I really use `fs-extra-promise` not vanilla `fs-extra`. So I changed your example after the first test to this:

[code]

And... the output is still correct:

[code]

Now I was really confused... why doesn't it work for me outside of this small test case?  I use `fs-extra-promise` instead of `fs-extra`, because I use Babel. So I made a third tes

[2015-08-04 19:47] charlierudolph opened #163 "ouputJson not formatted out of the box"
With the latest version of `fs-extra` ~~writeJson~~ outputJson and ~~writeJsonSync~~ outputJsonSync write json with no spaces by default.

[2015-08-04 19:51] reggi opened #164 "Feature Request: ensureFile to take optional argument for file content"
What are thoughts on `ensureFile` also being able to take the string argument for file content. So if I run this:

[code]

The file `readme.md` is created with ensured dirs `/tmp/paths/do/not/exist/` with the content `#document`.

[2015-08-04 19:54] charlierudolph commented on #163
Previously the default had been 2 spaces and looking at the code it appears that was still the intent

[2015-08-04 19:58] reggi commented on #164
It's only a couple of lines to add this functionality. Keeping this here for safe keeping:

[code]

[2015-08-04 20:55] coryallegory commented on #116
I was snagged by the same issue, the documentation isn't clear on copySync's method signature, or maybe I misread it :S

Either way, it may be convenient to insert the try/catch to allow for copySync(src, dest, err) or something like that.

[2015-08-05 13:36] jprichardson commented on #163
Run this code:

[code]

What's the output that you get?

[2015-08-05 14:47] charlierudolph commented on #163
Auhh sorry the problem is actually only `outputJson` and `outputJsonSync`.

[2015-08-05 14:56] jprichardson commented on #164
I'd support it. But I'd like the second parameter to be an object and the object parameter `contents` would be used to denote the contents.

Behavior:

1. If `contents` is not specified, the method just verifies that the file exists. If not, it creates it.
2. If `contents` is specified, it verifies that the file exists, and overwrites the existing content with `contents`. If file does not exist, j

[2015-08-05 16:28] reggi commented on #164
This is great feedback @jprichardson thanks! Here are some of my thoughts.

The current behavior of ensure should "ensure that the file exists" and do all it can to abide by the `If the file, dir, symlink, link already exists, it is NOT MODIFIED.` motto.

What you propose in adding an argument object endangers this motto. In order for people to feel secure using these functions (with past, present

[2015-08-05 16:36] reggi commented on #164
With this said, there's no reason why we can't add the non-object parameter for `ensureFIle` content for, so that if the file doesn't exist it is created with that content.

[2015-08-05 16:45] reggi commented on #164
One easy way to do this on our end is have a function factory where the internal function has the `overwrite` argument, and we build out the `affirm` / ensure overwrite function from within the same codebase when exporting the module functions.

[2015-08-05 16:56] reggi commented on #164
I'm just realizing that `ensure` never throws an error if the destination file exists. I need to take this into account for `ensureLink` and `ensureSymlink`, which is against the native behavior.

[2015-08-05 17:02] reggi commented on #164
When it comes to using `ensure` I like the ability to control flow & know success failure. Especially because it's all so easy when I wrap `fs-extra` in bluebird's `promisifyAll()`. I'm thinking that ensure should always throw an error if no action is taken. That way the user has some idea if the file was created for the first time or not. Meaning lines `09`, `12`, and `20` for `ensureFile` should

[2015-08-05 17:20] reggi commented on #164
I'm breaking all of these operations down to these three rules.

`ensure` -> ensures a file exists, doesn't overwrite destination or throw if destination exists
`???` or `ensureWarning` -> ensures a file exists, doesn't overwrite destination, throws if dest exists
`affirm` or `ensureOverwrite` -> ensures a file exists, with specific contents, overwrites

[2015-08-05 17:25] reggi commented on #164
Here's some behavior for each.

[code]

[code]

[code]

[code]

[code]

[code]

[2015-08-06 13:06] jprichardson commented on #164
A lot of great thoughts here...

I'm not sure that I agree with this if a `contents` parameter is added. The reason that thought that a `contents` field to an options object was a good idea, is because I wanted to add `mode` and `owner` eventually. I was thinking then that `ensureFile()` would then take on idempotency.

That is, the first parameter is verifying that the file exists (this is requir

[2015-08-06 16:27] jmls commented on #143
did you eventually release this ? I'm having some problems with jasmine, fs-extra and mock-fs and was wondering  if this could be the cause.

If I use

[code]
then the tests work fine.

replace with

[code]

then the tests start failing

[2015-08-06 16:29] jmls commented on #143
and now I see that you did indeed push it into .21 .. I'm on .22 , so should be there. Which now means that I need tro figure out why my tests are failing just by swapping out fs with fs-extra

[2015-08-06 16:29] reggi commented on #164
I'm not 100% sold on the object argument, because it's not something that I need. What I do need is writing a file and creating recursive dirs, and I need to set the file content.

What I recommend is adding string / buffer support for compatibility with native node and down the line adding support by checking if the second arg is an object supporting all the features you're talking about.

[2015-08-06 20:52] jprichardson commented on #143
@jmls It would really be helpful to know more about the errors that you're having so that I could help diagnose the issue and possibly fix it.

[2015-08-06 21:00] jprichardson commented on #158
https://github.com/jprichardson/node-fs-extra/tree/0.23.0

[2015-08-06 21:00] #158 closed

[2015-08-10 15:35] jprichardson opened #171 "remove unnecessary aliases"
Inspired by this: https://github.com/ramda/ramda/pull/574#issuecomment-64124850 most aliases should be removed...
- [x] remove `delete()` alias to `remove()`. Most style guides frown upon using a reserved keyword for a field / method name. So this should definitely be removed.

Questions:
1. Should `ensureDir()/mkdirp()/mkdirs()` be condensed into one?
2. `json` methods... should it be `Json` or `

[2015-08-11 01:05] jprichardson opened #172 "rename `clobber` flags to `overwrite`"

[2015-08-12 06:58] reggi opened #173 "Feature Request: writeJson should mkdirs"
Pretty self explanatory, I think the `writeJson` functions show mkdirs if they don't exist.

[2015-08-13 15:40] jprichardson commented on #173
`outputJson()` takes care of this.

https://github.com/jprichardson/node-fs-extra#outputjsonfile-data-options-callback

But maybe I should axe `outputFile()` and `outputJson()`... and merge in `outputFile()` with `ensureFile()`.... hmm.

[2015-08-24 03:37] Jayin opened #175 "[Feature Request].moveSync support"

[2015-08-27 20:50] jprichardson commented on #175
Would love this. Due to other priorities in this project (see other issues), it almost certainly won't happen pre-1.0 unless someone submits a PR.

[2015-08-28 20:20] jprichardson commented on #171
Removed `delete()` and `deleteSync()`:

https://github.com/jprichardson/node-fs-extra/commit/955836b1ff2f0927744000c0ff097a4580f4dea1

[2015-09-02 20:25] #155 closed

[2015-09-03 09:30] klarkent commented on #137
Having same issue using session-file-store
[code]

[2015-09-08 05:27] ORESoftware opened #176 "createOutputStream doesn't emit 'end' event"
how can I listen for an 'end' or 'completion' event with

[code]

something like so:

[code]

I need to be able to listen to such an event, thanks

[2015-09-08 18:17] ORESoftware commented on #176
nevermind, it emits a 'close' event instead of 'end', great, that works for me

[2015-09-14 20:58] jprichardson opened #177 "fix `remove()` & `move()` wildcards (introduced by rimraf)"

[2015-09-15 07:14] gkorland opened #178 "ENOTEMPTY is thrown on removeSync"
I got the following error when running ```fs.removeSync()``` on Windows:

[code]

[2015-09-15 07:27] gkorland commented on #178
It seems like there are many issues regarding this error in rimraf e.g. https://github.com/isaacs/rimraf/issues/25

[2015-09-15 07:27] #178 closed

[2015-09-15 19:48] brunobottazzini commented on #137
Hello there,

I am having the same issue with session-file-store.

Has anyone found out how to fix it?

    SyntaxError: Unexpected end of input
         at Object.parse (native)
         at /soletta-dev-app/node_modules/session-file-store/node_modules/fs-extra/node_modules/jsonfile/index.js:14:18
         at fs.js:334:14
         at /soletta-dev-app/node_modules/session-file-store/node_modules/fs

[2015-09-15 19:53] jprichardson commented on #137
It would be immensely helpful if someone would provide a snippet replicating this issue. A stack trace with no context won't help me to help solve the problem.

[2015-09-16 18:57] donaldpipowitch commented on #163
I can confirm this. `writeJson` will be formatted, `outputJson` not.

[2015-09-25 07:59] piranna opened #179 "Include opendir"
Implement [opendir()](http://man7.org/linux/man-pages/man3/opendir.3.html) the same way that it's include `open()``on the fs module. This allow to have a fixed reference to the directory.

[2015-09-25 10:19] jprichardson commented on #179
Why? It's not clear to me what sort of benefit this provides.

[2015-09-25 10:39] jprichardson commented on #177
Also on `move`.

[2015-09-25 13:05] piranna commented on #179
Calling `open()` left the file open and return a file descriptor that can be used as reference, but there's no way to do the same with directories since `fs` API only allow to read their content, releasing it after that. I need this to have a reference to the underlying directory on an overlay filesystem when mounting it directly over the directory of the lower layer. Obviously, not only would be

[2015-09-25 15:14] saghul commented on #179
It's used for listing large directories in a streaming fashion. Support for it is pending review in libuv https://github.com/libuv/libuv/pull/416

[2015-09-25 15:45] stefk opened #180 "Filter option doesn't work the same way in copy and copySync"
`copySync` applies the filter only to files, while `copy` applies the filter to every entry.

So if you have the following directory structure:

[code]

calling `copy` with `{ filter: /baz/ }` will produce:

[code]

wheras `copySync` will do:

[code]

The former is obviously what's expected.

[2015-09-28 13:49] jprichardson commented on #180
Thanks for pointing this out :)

[2015-10-01 00:14] matthewadams opened #181 "Add ability to remove file securely"
I need to be able to delete a file and completely remove any trace of its presence.

If there were methods like `removeSecurely`, or the `remove` method were enhanced to take an `options` parameter with a setting like `{ secure : 'zeros' }` or `{ secure : 'random' }`, which would write zeros or random data, respectively, over the file's content before removing, it'd be just jim-dandylicious.

[2015-10-02 12:14] jehendricks commented on #180
I've been experiencing the same problem and I think I may have found what is going on.  In copy-sync, the check for filter that sets performCopy is only checked inside the stats.isFile() conditional.  I moved the setting of performCopy outside the conditional then wrapped the whole conditional (isFile, isDirectory, isSymbolicLink) in a performCopy conditional.  That worked, but of course I may hav

[2015-10-05 20:41] jprichardson commented on #181
While I really like this idea, I'm not sure that it belongs in this library and not some specialized library.

This is because...

1. The naive implementation would be exactly as you describe and how I would have approached the problem initially as well. But would it actually securely delete the file or would it just make the user think the file is securely deleted? i.e. are there scenarios where

[2015-10-05 21:47] matthewadams commented on #181
@jprichardson Your questions are good'n'thoughtful.  I agree that this may be too device-dependent, and I don't think it's crucial for 1.0.

Perhaps I should spend some time looking into (and asking around about) the underlying OSes' secure deletion functionality.

[2015-10-09 08:30] lexatnet opened #182 "ensureDir(dir, callback) second callback parameter not specified"
second callback parameter not specified

[code]

[2015-10-10 09:46] VoidVolker commented on #86
+1

[2015-10-11 20:09] jprichardson commented on #182
I'm not sure what the issue is?

[2015-10-13 02:11] bartland opened #183 "with clobber true, copy and copySync behave differently if destination file is read only"
copy succeeds because it will first do an fs.unlink() on the destination file (in ncp.js).
copySync fails.

To align the behaviour, in copy-file-sync.js change:

    if (fs.existsSync(destFile) && !clobber) {
      throw Error('EEXIST');
    }

to

    if (fs.existsSync(destFile)) {
      if (clobber) {
        fs.unlinkSync(destFile);
      } else {
        throw Error('EEXIST');
      }
    }

[2015-10-13 18:03] jprichardson commented on #181
Closing this for now. Ping me when you have answers to some of these questions or you have found a module to do this.

[2015-10-13 18:03] #181 closed

[2015-10-13 18:04] jprichardson commented on #179
Wouldn't this require native Node modules?

[2015-10-13 18:12] piranna commented on #179
If as @saghul says this is being considered on libuv, no.

[2015-10-14 12:11] jprichardson commented on #179
Even if it's in libuv, it would still have to be exposed in Node.js.

I'm closing this for now. It's out of scope pre-1.0 and my top priority is to get `fs-extra` to 1.0 - I have a long way to go yet.

[2015-10-14 12:11] #179 closed

[2015-10-14 12:13] jprichardson commented on #176
It's important to remember that `createOutputStream` returns the same result as `fs.createWriteStream()` i.e. they both return a `WriteStream`. There's just some hackery involved on the creation.

[2015-10-14 12:13] #176 closed

[2015-10-14 14:13] matthewadams commented on #181
I spent a small amount of time researching and came to the conclusion that this is not something that can be done portably yet.  In fact, I'm not even sure that it's portable on a single OS across different storage media yet.  I guess the need for secure deletion isn't pervasive enough to warrant support in storage devices, where each different storage device could offer a secure delete API, and t

[2015-10-14 18:45] jprichardson commented on #181
Thanks for the follow-up. It's a damn shame that this isn't a priority for OS/hardware manufacturers yet. Apple seems to be doing a decent job; I suspect in 5 years or so as demand for these sorts of things increases, manufacturers will start delivering.

[2015-10-15 12:55] jprichardson commented on #182
Closing, as not enough information provided. Please reopen if you would provide more info.

[2015-10-15 12:56] jprichardson commented on #173
Closing as `outputJson()` takes care of this. Please let me know if I missed something.

[2015-10-15 12:56] #173 closed

[2015-10-16 11:17] Deele opened #184 "CLI equivalent for fs-extra"
Is there an CLI equivalent for fs-extra?

I would like to create npm build scripts that are platform independent, and fs-extra seems to have very nice set of methods, but I would like to use them from CLI.

It could be like a single script:
[code]
multiple scripts
[code]
or even multiple binaries
[code]

[2015-10-16 12:29] jprichardson commented on #184
I don't know of any. But it'd be cool to see someone make it. If you do, please let me know :)

[2015-10-16 12:29] #184 closed

[2015-10-21 09:57] cheahkhing opened #185 "Doesn't work on NodeJS v4.x"
After i upgrade my node to latest version: v4.2.x
This module will not work properly. I used the copy, it doesn't copy the files properly. all files are empty with zero byte.

[2015-10-21 11:28] jprichardson commented on #185
Which operating system are you using?

[2015-10-22 00:35] cheahkhing commented on #185
it's windows8.1

[2015-10-23 12:50] Deele commented on #184
@jprichardson Have a look on my first implementation of copy command and please, share your thoughts https://github.com/Deele/node-fs-extra-cli

[2015-10-23 18:55] mbrk commented on #137
Same problem when using ensureFileAsync from promisified fs-extra. I want to append contents from one file to another. To ensure that the 'target' is existing i use ensureFile().

Code:
[code]

Stacktrace:
[code]

[2015-10-23 19:09] mbrk commented on #137
this happens even when the ensureFile() is done without promisified fs-extra. Doesn't matter if ensureFile() with callback or ensureFileSync(). The created file is empty (as expected) but it is not working with readJsonAsync)() in the following code.

[2015-10-24 11:46] halt-hammerzeit opened #186 "Do you need a .size() function in this module?"
I can supply one if you do.

[2015-10-24 12:13] halt-hammerzeit commented on #186
Anyway, here it is

[code]

You can include it if you wish.

[2015-10-24 12:13] #186 closed

[2015-10-24 14:24] jprichardson commented on #185
I'm unable to reproduce. Do you have any code that can reliably reproduce the error?

[2015-10-24 14:27] jprichardson commented on #186
Thank you. I will eventually include something like this, but for now, my top priority for this module is to get 1.0 and that means limiting all new features and focusing on stability on the existing functionality.

[2015-10-24 14:31] jprichardson commented on #99
I'd like to do this, but there are too many other priorities to get this module to 1.0. Closing for now, but tagged with `future` to possibly revisit it later.

[2015-10-24 14:31] #99 closed

[2015-10-24 14:33] jprichardson commented on #131
I'm not able to reproduce. Is this still happening? What are the contents of the files in `assets`?

[2015-10-24 22:04] jprichardson commented on #63
Finally documented the implementation and published in `0.25.0`. https://github.com/jprichardson/node-fs-extra/tree/0.25.0

[2015-10-24 22:04] #63 closed

[2015-10-25 12:14] jprichardson commented on #175
I'd really like to see this, but it's not going to happen pre-1.0. Like I said, I'd love to see a PR for this. Tagged with `future` to revisit this later.

[2015-10-25 12:14] #175 closed

[2015-10-28 14:23] jprichardson commented on #83
@lwege are you install interested in this getting fixed? I'd like to tackle this - it'd be awesome to take your list of cases and turn them into tests for both *nix and Windows.

[2015-10-29 21:39] serraventura opened #187 "Not filter each file, stops on first false"
I've got same issue as #70 .

Im using latest release.

"fs-extra": "^0.26.0",

[2015-10-30 05:02] bartland commented on #183
Hi @jprichardson
BTW: thanks for the great library.

I'll submit a pull request to fix this (without the semi-colons ;)

I've also added a test for it in copy-sync-file.test.js.
[code]

Tested on Ubuntu (see below).

On Windows 7, there are 7 tests currently failing, so no change as long as this one passes.
If this test fails, it causes other 3 additional tests to fail. Not sure why. I'll look int

[2015-10-30 05:49] jprichardson commented on #183
Thank you, your help is much appreciated! If you submit a PR and it passes TravisCI/Appveyor, that'd be awesome :)

[2015-10-30 06:08] jprichardson commented on #184
Nice :) One thing to note, the option `clobber` will be renamed to `overwrite`. So you may want to change that on your end. When you implement both move and delete, feel free to make a PR and update this section: https://github.com/jprichardson/node-fs-extra#misc

[2015-10-31 01:11] bartland opened #188 "move.test failing on windows platform"
There are 7 tests which fail on windows but work on Linux.
This is because when git fetches the test data files it converts the line endings from \n to \r\n (since core.autocrlf is typically true with git on windows).

This fails on Windows but succeeds elsewhere:
[code]
I believe the best way to fix this is to use regex:
[code]

[2015-10-31 01:13] bartland commented on #183
I've worked out why the 7 tests are failing on windows. New issue opened #188.

[2015-10-31 01:26] jprichardson commented on #188
Interesting. It's not failing on the Windows Appveyor tests: https://ci.appveyor.com/project/jprichardson/node-fs-extra/branch/master Why do you think that is? Either way, I'm fine with changing it. Really, could just trim the line ending, as it's not that important for that particular test.

[2015-10-31 01:34] bartland commented on #188
Probably because Appveyor is preserving the repository line endings. I think regex is a bit cleaner as it doesn't modify data. I'll submit a PR for this shortly.

[2015-10-31 01:54] #188 closed

[2015-10-31 03:18] bartland commented on #183
I'm about to submit a PR for this. It looks clean. Since I did the PR for #188 I just wanted your feedback on what I did to deal with this in my local repository. If ok, I'll submit a PR.
[code]

[2015-10-31 09:06] jprichardson commented on #183
I'm not a Git expert by any means, but AFAICT, it looks good.

[2015-10-31 10:27] bartland commented on #183
hmm! Interesting. Node 0.12+ works but Node 0.10 fails. Nodejs must have changed its behavior. Any suggestions before I investigate?

[code]

[2015-10-31 10:34] jprichardson commented on #183
Hmm. I know that I've had a number of issues in the past with trying to synchronously delete in Windows in my tests.

Possibly related: https://github.com/isaacs/rimraf/issues/72 (I posted in this thread awhile back). However this was a `ENOTEMPTY` error.

If possible, see if you can't dig around a bit. If it's an easy fix, let's do it. If it's difficult, I'm not opposed to dropping support for No

[2015-11-01 11:02] jprichardson commented on #187
Thanks for reporting. Do you have any code (along with a description of the file tree) so that I can reproduce this bug?

[2015-11-02 06:46] bartland commented on #183
After some pain setting up a switchable between versions nodejs on Windows, the good news is a simple fix which works in 0.10.40 and 4.2.1. I will resubmit the PR soonish. I just added a chmodSync call.

Fixed code:
[code]

[2015-11-02 19:00] #183 closed

[2015-11-03 03:00] #163 closed

[2015-11-03 03:07] jprichardson commented on #163
Thanks for the report. Sorry it took so long to fix.

[2015-11-03 14:51] screendriver opened #191 "How to copy symlinks to target as normal folders"
Can I set the `-L` option like in the unix command `cp`?

From the man page:

See also here at [superuser](http://superuser.com/questions/216919/how-to-copy-symlinks-to-target-as-normal-folders)

[2015-11-03 15:18] jprichardson commented on #191
Try setting `deference` to `true`:

[code]

Let me know if that works. I'm gonna leave this open, as that should be documented.

[2015-11-03 15:19] screendriver commented on #191
Thank you, it's working :+1:

[2015-11-04 21:59] eddflrs commented on #131
I just ran into this one. Same as @Alex0007, as soon as I switched the call from `copySync` to `copy` it worked. So the async version seems to work, but not sync.

[2015-11-05 10:26] serraventura commented on #187
I don't have the code anymore, since I changed the approach to not need to use the filter. But I'll try to reproduce it again later.

thnaks.

[2015-11-05 16:16] jprichardson commented on #131
@eddflrs can you provide any code or organization of the directory structure so that I'm able to reproduce? Thanks.

[2015-11-05 20:38] cjones26 commented on #93
+1

[2015-11-11 03:32] jprichardson opened #192 "Remove fs.createOutputStream()"
Recently I was using `fs.createOutputStream()` in https://github.com/jprichardson/node-cfs/blob/0.5.0/index.js#L30 and I was getting some weird errors. The problem is that `fs.createOutputStream` is a hack that is NOT heavily tested. It doesn't seem to belong in this library.

I will almost certainly create a separate module for it and remove it entirely from `fs-extra`.

[2015-11-15 14:45] iwege commented on #83
@jimhigson I copied testcase to  https://github.com/iwege/node-fs-extra/tree/feature/prevent-copy-to-self , but how can I test it first? Or do I need to fix this issue with my old code?

[2015-11-15 15:35] jprichardson commented on #83
Would you link directly to the test case so that I can take a look? Thanks.

[2015-11-15 16:13] iwege commented on #83
@jprichardson https://github.com/iwege/node-fs-extra/commit/0dc1610ff98ad5a556ce3956d229a7472bf8fb01

[2015-11-18 17:30] raybellis opened #193 "`fs.copy` fails silently if source file is /dev/null"
Using bluebird with `fs.copyAsync`, my program finished with no error despite a `.catch(console.error)` when I tried to copy `/dev/null` onto a file.

[2015-11-18 17:35] jprichardson commented on #193
Do you get the same problem with just `fs.copy`?

[2015-11-18 17:37] raybellis commented on #193
Let me try that and see...

[2015-11-18 17:40] raybellis commented on #193
It appears to fail, silently, without creating the file:

    var fs = require('fs-extra');

    fs.copy('/dev/null', '/tmp/foo', function(err) {
        console.log(err);
    });

[2015-11-20 15:08] brunano21 opened #195 "How to override with outputFile?"
I'm using the `outputFile` function but I would like to override the file if it already exists. However, seems it is not possible to pass an `option` to the function.
How to accomplish that thus?

Edit: Even if it should override an existing file, this doesnt happen.

[2015-11-20 16:00] triccardi-systran opened #196 "copy filter: async function and/or function called with `fs.stat` result"
It would be great to have a `filter`-like option on `copy` where the function would be async (with a callback) (useful for `fs.stat(item)`).

And/or have a `filter`-like option where the function is called not with a string `path`, but with the result of `fs.stat` on it (in addition to the path of course). (This could still be useful even if async filter function is implemented, because it would a

[2015-11-20 17:07] triccardi-systran opened #197 "Missing documentation for `outputFile` `options` 3rd parameter"
The 3rd parameter of `outputFile` seems to be forwarded down to nodejs native `fs` `options`: this is not documented.
It could be used to append instead of overwrite for example.

Maybe other similar functions have the same issue.

(Also, the code makes as default value for option a string: 'utf-8', instead of an object: this usage is not documented for nodejs 0.10 & 0.12).

[2015-11-20 17:09] triccardi-systran commented on #195
By default `outputFile` does overwrite the file.
What is missing is documentation on the 3rd parameter: `options`, which seems to be forwarded down to nodejs native `fs`, where we can pass a flag, to *not* override (ie append):
`fs.outputFile('/tmp/foo', 'bar', {flag: 'a'})` will append to the `/tmp/foo` file, instead of override.

See #197.

[2015-11-21 15:47] jprichardson commented on #177
https://github.com/isaacs/rimraf/commit/04f1a13a72d69f010e59e6e04e66e226102e7d4b

[2015-11-21 16:02] jprichardson commented on #196
That makes sense. I'd like something like that too. Eventually, I'm going to rewrite `copy` on top of https://github.com/jprichardson/node-klaw. This would enable such behavior. This will be awhile before this happens. My priority is to get this module to `1.0`. Closing and tagging as `future`.

[2015-11-21 16:02] #196 closed

[2015-11-21 16:05] jprichardson commented on #195
@brunano21 as @triccardi-systran stated, the whole point of `outputFile` is to behave exactly like `writeFile` except that it creates the directory if it doesn't exist. Can you paste a snippet of what you're trying to do along with your expectations? Thanks.

[2015-11-23 09:35] brunano21 commented on #195
@jprichardson
Hi,
my snippet is the following:

    function _takeScreenshot (object, action) {
        var self = this;
        var remote = self._remote;
        var path = null;
        var filename = null;

        path = "./tests-screenshots/" + self._testName + "/ref";
        filename = ("000" + (self._totalSteps - self._testSteps.length - 1)).slice(-3) + ".png";

        return remote

[2015-11-23 11:43] triccardi-systran commented on #182
The issue is missing documentation on the arguments passed to all the callbacks.
This information is especially useful when using `fs-extra` in `async.waterfall` where we need to know in advance how many arguments there will be on the callback.

Should I open a new issue or could this one be re-open?

[2015-11-23 12:57] jprichardson commented on #182
@triccardi-systran Makes sense. Done.

[2015-11-23 13:07] jprichardson commented on #195
If you want this snippet that you have to work, you must either do the following:

1. Use the sync version of `fse.outputFileSync()`.
2. Wrap the async version of `fse.outputFile()` into a promise.
3. Use `fs-extra-promise`: https://github.com/overlookmotel/fs-extra-promise

Demonstrating 1:

[code]

Demonstrating 2:

[code]

Demonstrating 3:

[code]

Hope that helps.

[2015-12-07 08:32] chinesedfan opened #198 "handle copying between identical files"
I hope this module can be as clever as `cp`. It should recognize copying between identical files and do nothing.

Now, v0.26.2, neither `copy` nor `copySync` can handle these cases correctly.
- If `src` and `dst` are the same file
  - It opens a read stream first, and then a write stream, which results in the file becomes empty.
- If `src` is symbolic link and points to `dst`
  - By default, optio

[2015-12-07 14:16] jprichardson commented on #198
Thanks for your interest. These are great suggestions. Would you be willing to look at the `cp` code and implement these changes? It would be of a huge help and really add a lot of value to the module. Even if we take one case at a time, that would be a wonderful addition.

Thank you!

[2015-12-08 11:03] chinesedfan commented on #198
OK. I will try to find some time to implement this feature.

[2015-12-08 22:18] bdcribbs opened #199 "fs.copySync fails if user does not own file"
fs.copySync fails when the user running the script does not own the destination file, even when the user actually has sufficient permissions to perform the action.

The error occurs if the file exists, and clobber is true.  In that case, copySync attempts to chmod the file prior to unlinking it (prior to performing the copy).  Since the user doesn't own the file, the chmod fails with EPERM, even t

[2015-12-10 02:51] yanyu0517 opened #200 "'copySync' doesn't work in sync"
My file directory like this:
[code]

My code is
[code]

And console.log will be triggered before <config>folder copy

[2015-12-10 11:25] piranna opened #201 "clobber for directories"
Reading the code I've found `copy` (and `move`) merge the content of the directories if the destination (and any of its subfolders) exists. That's just the feature I was looking for :-D But I've noticed that there's no option to delete destination (sub-)folders to only have the files we are copying and none of the old ones, the same way the `clobber` option overwrite destination files when enabled

[2015-12-11 12:16] jprichardson commented on #201
This feels like maybe it'd be doing too much though. Copying shouldn't read the destination unless there is a conflict with what is being copied, right? Maybe a better solution would be that if a destination directory exists, an event is emitted allow the user to read the directory and then take action. IDK.

[2015-12-11 12:18] jprichardson commented on #200
Please rewrite your snippet in a reproducible manner. Could you use absolute directory paths and a temp folder like `/tmp`? This way I can reproduce the issue on my end. Thanks :)

[2015-12-11 12:26] jprichardson commented on #199
Thanks so much! Would you be willing to add a test?

[2015-12-11 17:00] piranna commented on #201
Why no both? :-) If a conflict on destination arises, call a `onConflict` callback so user can return what to do with it, like `overwrite`, `ignore`, `ignoreAndDelete` (source) or `abort` (and also the callback could be set to one of these values instead a function so it will be done always that way). There could be also independent callbacks for directories and files to have fine-grain control, s

[2015-12-14 08:23] zaaack opened #202 "why there is not a walkSync method?"
Is there anyway to implement synchronized walk method?  I want to get all files in the directory and sub directories synchronized.

[2015-12-14 08:35] zaaack opened #203 "copy method's argument options couldn't be undefined"
[code]

[2015-12-14 20:25] bdcribbs commented on #199
I'm not sure how we'd write such a test, since it requires creating a file as one user account and then attempting to manipulate it with another user account.

[2015-12-15 09:44] jprichardson commented on #202
When you say `synchronized`, in this context it can mean different things. Are you asking a `walkSync` that calls the underlying fs.readdirSync/fs.lstatSync methods?

[2015-12-15 09:45] jprichardson commented on #203
Thanks, I'll look this over.

[2015-12-15 10:14] zaaack commented on #202
@jprichardson  yes, that's what I mean

[2015-12-17 14:18] jprichardson commented on #202
Sync in this case would not typically a desirable thing to do. But it should be pretty easy to implement on your end. You could use the fs-extra walk algorithm as a reference: https://github.com/jprichardson/node-klaw/blob/master/index.js

[2015-12-17 14:18] #202 closed

[2015-12-17 14:19] jprichardson commented on #201
It's not a bad idea, but my priority is to get to 1.0 first. We can then revisit it then :) Tagged as `future`.

[2015-12-17 14:19] #201 closed

[2015-12-17 14:20] piranna commented on #201
I agree :-)

[2015-12-17 14:22] jprichardson commented on #199
Good point. Maybe throw that line in a try/catch block?

[2015-12-17 14:23] jprichardson commented on #198
I think if you start with just one, that'd be a big win. You could pick the one that is the most important to you and we could start with that?

[2015-12-17 14:27] #197 closed

[2015-12-17 14:27] jprichardson commented on #197
Thanks for stopping by and letting me know! I'm sorry that it took so long for me to address this.

[2015-12-17 14:38] jprichardson commented on #193
Thanks. Verified. Just hangs on OS X 10.11 / Node 4.2.1.

Surely this is the offending line: https://github.com/jprichardson/node-fs-extra/blob/0.26.2/lib/copy/copy.js#L15

Ideas on a practical solution? I'd hate as something could be symlinked to /dev/null right? Surely others have experienced this... a cursory Google search didn't return much.

Thanks for your help.

[2015-12-17 14:46] jprichardson commented on #193
Nope, this is the offending line:

https://github.com/jprichardson/node-fs-extra/blob/0.26.2/lib/copy/copy.js#L24

Is there something about the `stats` of `/dev/null` that I could use to reliably detect it?

[2015-12-17 14:55] #116 closed

[2015-12-17 14:55] jprichardson commented on #116
Documented `copySync()`. Thanks everyone.

[2015-12-17 14:59] jprichardson commented on #83
Thank you. Tests look good. Any thoughts on a reliable fix?

[2015-12-17 15:13] raybellis commented on #193
No, it's not there, either - it's the `getStats()` function in `lib/copy/ncp.js` which doesn't have a branch to take if the given file isn't either a directory, a plain file, or a symlink.

[2015-12-17 15:19] raybellis commented on #193
I think the check in that function for `stats.isFile()` needs the addition of:

    || stats.isBlockDevice() || stats.isCharacterDevice()

[2015-12-17 15:41] jprichardson commented on #193
I would love a pull request :) I have a test here: https://github.com/jprichardson/node-fs-extra/commit/631ed20f7bd8a817346073efa59f93f19c77da48

[2015-12-17 15:52] bdcribbs commented on #199
A try/catch would work.  Another point of view is that attempting to copy over the contents of a read-only file really *should* fail, because that's what read-only means.

[2015-12-17 17:01] jprichardson commented on #199
Hah. Excellent point as well.

So for a test, couldn't we just set a couple of files to be read only and try to copy over them and assert for an error? The error should have a descriptive message indicating that the destination is read-only.

[2015-12-17 17:18] #193 closed

[2015-12-17 17:18] jprichardson commented on #193
Updated test. Thanks again for your help, it's much appreciated!

[2015-12-18 14:40] bdcribbs commented on #199
That works, and also matches how I would expect it to function (I was somewhat surprised when I found out copySync was calling chmod in the first place).

It's worth considering that this would revert the change that was originally made for #183, but in my opinion, it's more appropriate for the caller to chmod the file themselves if they need to.

If you'd like I could throw together a pull reques

[2015-12-18 15:00] jprichardson commented on #199
@bdcribbs thanks for referencing the issue. In context it makes more sense. Don't you think that when clobber (aka overwrite) is set to `true`, it should overwrite regardless of whether the file is read only?

Pinging: @bartland for his feedback.

[2015-12-18 15:15] bdcribbs commented on #199
I see. I thought clobber was for overwriting files that already exist (EEXIST), not EPERM.  Now the behavior makes more sense.

Since there are actually two concerns here, how about two options instead one?  "clobberExisting" and "clobberReadonly".  That way, there is zero ambiguity about what each option does.

For backwards compatibility, "clobber" could be equivalent to setting both of the new

[2015-12-21 01:36] bartland commented on #199
Seems a reasonable idea for more fine grained control given we would still have "clobber" for both.

In regard to #183, the reason for introducing the chmod call was to support node 0.10 (bug?). If support for 0.10 was dropped, the chmod call could be dropped. Which is what I'd prefer.

[2015-12-21 08:52] jprichardson commented on #199
Yes, I like this idea.

I see. That makes sense. I'll be dropping support for Node v0.10 in April 2016. At that time, the next Ubuntu LTS will be released. Ubuntu LTS v0.14 defaults to Node v0.10.

[2015-12-23 08:42] yanyu0517 commented on #200
I have fixed it, it was a mistake!

[2015-12-23 08:42] #200 closed

[2015-12-24 08:51] iwege commented on #83
I have used the https://github.com/AvianFlu/ncp/pull/61 in my project and no one reports relative issue to me. But I don't know it reliable or not.

[2015-12-28 13:05] chinesedfan opened #205 "fix documents about copy/copySync"
I think these 2 methods should share the same options. But:

1. By default, `preserveTimestamps` is `false` in `copy` as the document describes, while it is `true` in `copySync.`
2. For `copy`, options `transform/dereference/limit/errs/stopOnError` are undocumented. Maybe we can refer to `ncp` in somewhere.
3. For `copySync`, options `recursive` is also undocumented.

By the way, I was addicted to

[2015-12-28 13:48] jprichardson commented on #205
Thanks for pointing these out.

1. That definitely needs to be fixed.
2. I purposely left some of these out of the documentation as I wasn't sure if I was willing to support them long-term or if I'd change/rename them.
3. Same here.

Thanks for bringing this issue up though, as it needs to be fixed.

[2016-01-01 06:44] binduwavell opened #206 "outputFileSync"
takes but does not use an encoding argument
uses an arguments variable that does not appear to be defined anywhere

[2016-01-04 01:09] kellyselden opened #207 "Add `compare` suite of functions"
I'm about to write a test helper that compares generated files to a fixtures folder. I already am using fs-extra, so I wondered would it be nice to have compare functions included?

Something like:
[code]

[2016-01-06 05:34] jprichardson commented on #205
Reopened as #208 doesn't solve `2.` and `3.`.

[2016-01-06 05:51] chinesedfan commented on #205
What's your plan about 2&3?
How about just adding some words mention those options? And warn users they are not stable.

[2016-01-06 14:34] jprichardson commented on #205
How about just adding some words mention those options? And warn users they are not stable.

The problem is that if they're documented, despite my warnings, people will use them.

[2016-01-06 14:43] jprichardson commented on #207
It may be nice, but unfortunately it would add more to the scope than what I'm willing before `1.0` is released. I really appreciate your interest and posting and issue though :)

[2016-01-06 14:43] #207 closed

[2016-01-06 14:47] kellyselden commented on #207
No worries. Maybe I'll make a `node-fs-extra-extra` lol.

[2016-01-06 14:51] jprichardson commented on #207
Haha :blush:

[2016-01-07 13:59] vzakon opened #209 "In Windows invalid directory name causes infinite loop in ensureDir()."
Example:
`require('fs-extra').ensureDir("./bad?dir", function(err) { console.log("never here!"); });`

Infinite recursion call is here:
https://github.com/jprichardson/node-fs-extra/blob/master/lib/mkdirs/mkdirs.js#L33

[2016-01-07 14:37] jprichardson commented on #209
Thanks for reporting. I'd like to drop my custom `mkdirp` and go back to using https://github.com/substack/node-mkdirp again, but looks like it's still affected: https://github.com/substack/node-mkdirp/issues/70

[2016-01-08 15:24] ColinEberhardt commented on #203
:+1: just hit this issue too

[2016-01-08 15:34] jprichardson commented on #203
To be clear, when you call `fs.copy()`, you must include a callback. Maybe I should improve the error message?

[2016-01-09 16:23] chinesedfan opened #210 "copy/copySync behave differently when copying a symbolic file"
man cp: Symbolic links are always followed unless the -R flag is set.

`fse.copySync` keeps the same behavior with my `cp`(OSX 10.11.1). But `fse.copy` will always not follow links unless `options.dereference` is true.

[2016-01-10 16:09] jprichardson commented on #210
I really appreciate you pointing these issues out :+1: So, you think `dereference` should default be set to `true`?

[2016-01-11 01:49] lafleurh commented on #187
I am having this problem also. (I ended up writing my own copy folder function using your walk function and copy function that takes two paths and a filter, which worked well.)

Here's what I did when using your copy function to copy a folder with a filter:

[code]

It seems like it applies the filter to the source path, when I look at the code, and doesn't get to the point where it enumerates the

[2016-01-11 13:37] ColinEberhardt commented on #203
That would certainly help - I expected the callback to be optional.

[2016-01-11 14:04] kellyselden commented on #207
@jprichardson I ended up making the lib if you're curious https://github.com/kellyselden/fs-equal

[2016-01-11 14:23] ryanshawty opened #211 "Not copying all files"
Trying to copy from one directory to another e.g.

fs.copy('uploads/name/etc/', 'store/name' ...);

But it ends up copying maybe 60 out of 204. The file permissions are exactly the same for all files. I don't understand how it can copy only a few files.

[2016-01-11 16:15] jprichardson commented on #211
Are you passing a callback? Are you using any options?

[2016-01-11 17:46] eschwartz commented on #137
Has anyone been able to figure out what's going on here? I'm having the same issue, also using a promisified version of fs-extra (using [`when.liftAll`](https://github.com/cujojs/when/blob/master/docs/api.md#nodeliftall)). I have a bunch of processes reading and writing to a json files, though all the writes are locked using [node-proper-lock](https://github.com/IndigoUnited/node-proper-lockfile).

[2016-01-11 18:35] ryanshawty commented on #211
My bad it was a previous step I had taken in decompressing a tar file. Sorry!

[2016-01-11 18:35] #211 closed

[2016-01-11 18:39] jprichardson commented on #211
No problem.

[2016-01-12 08:06] chinesedfan commented on #210
Not really. It only depends on whether `-R` flag is set.
[code]
So, when copying a file, `dereference` is true. But when copying a folder, because `-R` must be set, `dereference` is false.

Please refer to [GNU document](https://www.gnu.org/software/coreutils/manual/html_node/cp-invocation.html#cp-invocation) and check my understanding.

[2016-01-20 16:02] alvinsight opened #213 "Merge extfs with this repo"
Hi,

Great work on this module, it really makes file/folder manipulation a lot easier.
I found myself having to check the existence of folders quite a lot, and I found the extfs module (https://github.com/marian2js/npm-extfs) perfect for this, but this module and extfs are kind of serving the same purposes, they even have common methods.
So I was wondering if you guys would like to merge (or to ac

[2016-01-20 16:53] jprichardson commented on #213
It looks like `npm-extfs` could be rewritten to depend upon `fs-extra`. I'm not interested in the methods in in `npm-extfs` though (isEmpty / getDirs()). My priority is to get fs-extra to 1.0.0.

I appreciate your interest though.

[2016-01-20 16:53] #213 closed

[2016-01-21 20:03] n2liquid commented on #145
@jprichardson, has this not marinated long enough by now? ;-)

Totally off-topic: @acmello, cheers, my 9th floor buddy! (To others: We work in the same building).

[2016-01-21 20:28] jprichardson commented on #145
I completely agree. This is something that I want to do. There are completely legitimate reasons for the existence of files helping to determine application state. `.lock` files are good examples.

I guess, I don't understand the major concern as of yet, since `fs.exists` and `fs.existsSync` already exist.  Anytime I use them in Node.js core, I don't get any deprecation warnings or issues - I know

[2016-01-21 20:35] n2liquid commented on #145
I agree, I'm glad you think that way.

You might want to consider *always* replace `fs.exists` in case you want to fix the original function signature issue (it's different from all other standard async functions, i.e. it has no `err` parameter and so `result` becomes the first one). If you haven't already, you can look up what's wrong with that. Personally, it doesn't bother me too much, I'm just

[2016-01-29 08:21] eos3tion commented on #187
When walk on files,the regExp's lastIndex will increase.
`contents.forEach(function (content) {
      var opts = options
      opts.recursive = true
      copySync(path.join(src, content), path.join(dest, content), opts)
    })`
`if (options.filter instanceof RegExp) performCopy = options.filter.test(src)`
Next file's test will begin with last file's index,so it will test failed and lastIndex rese

[2016-02-17 14:44] jhnns commented on #191
Thx @jprichardson. Just being curious: why is this option not listed in the README?

[2016-02-17 19:29] jprichardson commented on #191
@jhnns it's because it doesn't exist in `copySync`. It should be implemented in `copySync` as well.

[2016-02-18 00:43] jhnns commented on #191
Sounds reasonable :+1:

[2016-02-18 15:54] DavidBabel commented on #185
Same issue on debian jessie

[2016-03-04 18:19] yetanotherusernamebecausegithubisbugged opened #223 "Suspicious behavior of fs.existsSync"
I has ran into an unusual issue with fs.existsSync function. I think it's a bug but curious would you share this opinion or not (and would you fix it in fs-extra if you do?). The way to reproduce:
[code]
The node says that ./mnt doesn't exists when it actually does although in the broken state.

[2016-03-04 19:44] jprichardson commented on #223
Sorry, I'm not sure. You may want to file an issue at the Node.js repo since `fs-extra` does not modify `existsSync()`.

[2016-03-04 19:44] #223 closed

[2016-03-05 13:28] MadMikeGamerXL1 opened #224 "fse.copy ENOENT error"
Hi,
I've just installed the fs-extra module and every 5 minutes it tries to copy a directory, but it's failing with this error: - Error: ENOENT, lstat '/logs'
What does this mean?
It's trying to move a folder called "logs" from the same directory as the js file itself, into the '/var/www/html' folder for Apache2. Because of where the js file is, I've had to put the directory like this: '../../../v

[2016-03-07 05:24] Xtrinity commented on #224
@MadMikeGamerXL1 Yes. ENOENT means that the directory was not found. This is most likely because you did not specify the correct file path. `../` means go back one directory from the current working directory. You may want to look up more information regarding file paths.

[2016-03-07 18:05] MadMikeGamerXL1 commented on #224
@Xtrinity I am aware of what `../`means. It doesn't appear to be failing with this directory, but with the logs folder which it's trying to copy.

I'm wondering, is the current working directory the main js file in regards to the fs-extra, or is it inside the fs-extra module folder?

[2016-03-08 03:04] owen-hong opened #225 "EBUSY: resource busy or locked, unlink"
code: "EPERM"errno: -4048message: "EPERM: operation not permitted, unlink 'C:\Program Files (x86)\Maxim\d3dcompiler_47.dll'"path: "C:\Program Files (x86)\Maxim\d3dcompiler_47.dll"

code: "EBUSY"errno: -4082message: "EBUSY: resource busy or locked, unlink 'C:\Program Files (x86)\Maxim\icudtl.dat'"path: "C:\Program Files (x86)\Maxim\icudtl.dat"

[2016-03-09 15:32] Xtrinity commented on #224
@MadMikeGamerXL1 The correct working directory should be from where your code is executing. So if you execute `blah.someMethod()` from fs-extra in `/somedir/somescript.js` then `/somedir/` becomes your working directory.

[2016-03-11 16:22] omarfouad opened #226 "Moving to the current directory"
I would like to move some files and folders from a nested directory into the "current" directory (or the directory from where I'm calling the node CLI command). So I tried the following written inside `bin/cspweb-ui.js`:

[code]

but I'm getting the following error:

[code]

Any ideas?

Thanks.

[2016-03-11 18:23] jprichardson commented on #226
For context, what is the "current" directory?

[2016-03-14 16:41] enneid opened #227 "Uncatchable errors when there are invalid arguments"
Try this code:

[code]

it will crash without chance to catch error.

[2016-03-15 11:44] jprichardson commented on #227
So you're saying, you don't ever see "Errr"?

[2016-03-15 14:50] enneid commented on #227
yes, try this code in pure  node console. In real application this will throw and ends brutally app

[2016-03-17 12:34] IvanGoncharov opened #231 "Adding read/write/output functions for YAML"
You library is very cool and helpful but my main format is YAML.
And this force me to create my own wrapper around read/write/output for raw files.
I use [js-yaml](https://github.com/nodeca/js-yaml) lib for all YAML related operations.

YAML became very popular in last few years.
If you look on GitHub you will find [22M](https://github.com/search?utf8=%E2%9C%93&q=language%3AYAML+filename%3A*.yml+f

[2016-03-17 13:21] jprichardson commented on #231
Thanks. If people want to use YAML though, they can use `js-yaml` as you do. Putting YAML into this library would just bloat the library IMHO. Also, YAML isn't very popular in the JavaScript ecosystem, most just use JSON.

[2016-03-17 13:21] #231 closed

[2016-03-18 07:55] TheDubey opened #232 "Copy a folder content to its child folder."
It make folder recursively if tried to copy folder content from parent folder to child folder.

[2016-03-22 21:20] omarfouad commented on #226
It's the directory from which I'm executing the CLI command.

[2016-03-25 18:42] MadMikeGamerXL1 commented on #224
@Xtrinity Sorry for the late response!

I thought that was the working directory. So do you have any ideas why it's not working? The folder is clearly there, and has folders inside it.
The folder it's being moved to also exists.

[2016-04-04 14:53] chinesedfan commented on #224
@MadMikeGamerXL1 Could you please to provide the code snippet and the main error message?

[2016-04-06 02:05] PengXing commented on #232
I've met the same problem.

[2016-04-06 10:17] dead-horse opened #233 "please make sure the first argument in callback is error object"
https://github.com/jprichardson/node-fs-extra/blob/master/lib/copy/ncp.js#L237

[2016-04-06 11:39] jprichardson commented on #233
You're right, this should be fixed and be `Error?`.

[2016-04-06 18:28] s-a opened #234 "ensureDirSync fails silent when EACCES: permission denied on travis-ci"

[2016-04-08 11:39] FredyC commented on #177
@jprichardson Just little side node here, please mention in docs that those methods are actually a wrapper around `rimraf`. I was just looking if I can use globbing pattern there and had to dive into code to find out about this. Thanks for the module either way, I like to have things tucked together like this.

[2016-04-15 11:56] jprichardson commented on #191
Implemented in https://github.com/jprichardson/node-fs-extra/pull/235

[2016-04-15 11:56] #191 closed

[2016-04-15 19:51] EthanRubinson opened #236 "[Removed] Filed under wrong repo"
[Removed] Filed under wrong repo

[2016-04-15 19:52] #236 closed

[2016-04-16 21:50] jprichardson commented on #234
Do you have a snippet to reproduce? Thanks.

[2016-04-16 21:52] jprichardson commented on #232
What do you mean? Like copying from "/tmp/a" to "/tmp/a/b/c"?

[2016-04-17 05:11] TheDubey commented on #232
Yes.. I mean it the same...
On 17 Apr 2016 03:22, "JP Richardson" <notifications@github.com> wrote:

[2016-04-17 05:28] jprichardson commented on #232
Ok then. Yeah, that should fail. This is intentional. If you wanna do that, read the directory, and find copy all items to the new directory.

[2016-04-17 05:28] #232 closed

[2016-04-17 05:30] TheDubey commented on #232
Thanks....☺
On 17 Apr 2016 10:58, "JP Richardson" <notifications@github.com> wrote:

[2016-04-17 06:15] jprichardson commented on #210
Was fixed in https://github.com/rjz/node-fs-extra/commit/b50515c484d04f8c97d0253dd93694e73583a3cc

[2016-04-17 06:15] #210 closed

[2016-04-17 06:28] jprichardson commented on #185
I'm gonna need more information to reproduce. Please reopen when you can post more info. Thanks.

[2016-04-17 06:28] #185 closed

[2016-04-17 06:39] jprichardson commented on #93
Related: #209

[2016-04-17 18:34] jprichardson commented on #131
I need more information to reproduce. Thanks.

[2016-04-17 18:34] #131 closed

[2016-04-17 19:56] #192 closed

[2016-04-17 22:49] flynx opened #237 ".ensureDir(..) fails silently when passed an invalid path..."
#### To reproduce:

`fs.ensureDir('l:/tmp/foo:moo', err => console.log('>>>', err) )`

#### Expected:
A error is generated and passed to the callback.

#### Result:

- The callback is never called
- CPU loaded -- looks like an infinite loop (did not investigate deeper)

_NOTE: for now tested only on windows._

[2016-04-17 23:32] jprichardson commented on #237
Funny, I just started looking at this yesterday. Related: #209, #93.

[2016-04-17 23:34] jprichardson commented on #237
Suggestions on a clean fix?

[2016-04-18 00:18] flynx commented on #237
@jprichardson I did not dive into the implementation, but in general I think it's obvious, pass an error to the callback in the same manner as native node `.mkdir(..)` does -- on first dir that fails... and infinite loops and recursion are definitely out of the questions ;)

`fs.mkdir('l:/tmp/foo:moo', err => console.log('>>>', err) )`

[2016-04-18 01:07] jprichardson commented on #237
This is oversimplifying the problem ;) I'll come up with something.

[2016-04-18 05:07] marcus13345 opened #238 "Can't write to files while in a worker thread."
* **Version**: 5.10.0
* **Platform**: Mac OS X 10.11.4, `Darwin iMac.local 15.4.0 Darwin Kernel Version 15.4.0: Fri Feb 26 22:08:05 PST 2016; root:xnu-3248.40.184~3/RELEASE_X86_64 x86_64`
* **Subsystem**: cluster/fs-extra

I utilise clusters to deffer workloads in my application, and one task a worker may have to do is write a file. Here are the test cases i used:

This will work just fine:

    v

[2016-04-18 07:53] jprichardson commented on #238
The snippet works fine for me under Node v5 and Mac OS X 10.11.

[2016-04-18 08:52] #93 closed

[2016-04-18 09:20] #209 closed

[2016-04-18 09:20] #237 closed

[2016-04-18 09:24] jprichardson commented on #119
Related #209, #237. Fixed.

[2016-04-18 09:24] #119 closed

[2016-04-18 09:26] #195 closed

[2016-04-18 11:39] flynx commented on #237
Appears to be working fine now, thanks!!

[2016-04-18 18:42] marcus13345 commented on #238
I tried it again today, and it works. im not sure what I was doing wrong, but the issue is somewhere else. closing the issue.

[2016-04-18 18:42] #238 closed

[2016-04-21 15:17] martinheidegger commented on #171
Just my 2cnt:
1. mkdirp is best know - i'd reduce it to that (remove the others)
2. Technically JSON is an acronym and as such should be upper-case (the `JSON` object is upper-case as well)

[2016-04-21 15:48] martinheidegger opened #239 "Depreciate regular expressions for copy's filter"
Regular Expression filters in [ncp.js:38](https://github.com/jprichardson/node-fs-extra/blob/141422ee384fda83e3e1d4af2727bc9dca799f68/lib/copy/ncp.js#L38) are run against the full source path, i.e.:

`/Users/martin/Private/projects/nodeschool/git-it-electron/node_modules/eslint/node_modules/uglify-js/node_modules/source-map/lib/util.js`

If I want in the folder `git-it-electron` to exclude the `es

[2016-04-21 15:53] martinheidegger commented on #65
@jprichardson Arn't the RegExp's _include_ filters? Difference being that the result needs to be `true` to be included and not `true` to be excluded?

[2016-04-22 10:02] rottmann opened #240 "walkSync request"
Need a replacement for the deprecated wrench module `wrench.readdirSyncRecursive(path)`.

Currently "much" code and extra modules are necessary to retrieve only a dir list with walk in sync way.

[2016-04-23 05:35] jprichardson commented on #239
What if the RegExp's were deprecated and you just passed a function `{filter: function() { }}`... this way you could use glob?

[2016-04-23 05:35] jprichardson commented on #239
FYI, functions are supported now.

[2016-04-23 07:45] martinheidegger commented on #239
They are supported but they don't know the base path. A deprecation might
be worth thinking about. Also it might be worth to specify the filter API
to be directly compatible with glob in order for the filter to work like
this: 'include: glob.bind(null, "**/*.js")'. I could also think an API like
'include: require("fs-extra/pattern")("**/*.js")' might be good

On Saturday, 23 April 2016, JP Richard

[2016-04-26 13:33] martinheidegger commented on #239
They are supported but they don't know the base path. A deprecation might
be worth thinking about. Also it might be worth to specify the filter API
to be directly compatible with glob in order for the filter to work like
this: `include: glob.bind(null, "**/*.js")`. I could also think an API like
`include: require("fs-extra/pattern")("**/*.js")` might be good.

[2016-04-29 18:31] krainboltgreene opened #242 "Accidentally truncates file names ending with $$"
So I thought it was a [browserify-hmr issue](https://github.com/AgentME/browserify-hmr/issues/29) but I looked into their tests and while I could produce an error I discovered via console log that `fsExtra.copy` was the point at which it incorrectly created a file. I'm now looking at fs-extra's tests to reproduce.

[2016-04-29 18:34] jprichardson commented on #242
Thank you. This would be very helpful.

[2016-04-29 18:43] krainboltgreene commented on #242
I have written the test and it fails:

[code]

[2016-04-29 18:43] krainboltgreene commented on #242
Here's a snapshot after disabling the `afterHook`:

[code]

[2016-04-29 18:47] krainboltgreene commented on #242
The breaking code appears to be https://github.com/jprichardson/node-fs-extra/blob/master/lib/copy/ncp.js#L82

[code]

[2016-04-29 18:50] krainboltgreene commented on #242
This appears to be a "feature" of `String.prototype.replace()`: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/replace#Specifying_a_string_as_a_parameter

[2016-04-29 18:52] jprichardson commented on #242
Ah, so it's treating it as Regex string that needs to be escaped.... hmm.

[2016-04-29 18:55] krainboltgreene commented on #242
Not quite? It's just because it thinks you might want special evaluation in the replacement string. It just turns out it always does this instead of only doing this on regexp first arguments.

[2016-04-29 18:56] krainboltgreene commented on #242
You know what I think I'm wrong on the *why*, but my guess is now after reading spec stuff is that they wanted string patterns to have *some* capture functionality.

[2016-05-04 02:19] Altiano opened #243 "Can I request fs.walk() to be synchronous?"
It would be nice :dancer:

[2016-05-04 03:55] jprichardson commented on #243
There are currently no plans to do this at the moment, sorry :(

[2016-05-04 03:55] #243 closed

[2016-05-04 13:14] dbountsman opened #244 "copySync doesn't apply the filter to directories"
copySync has a bug, it evaluates the filter only for files. The directoies are copied unfiltered.
The asynchronous copy method evaluates the filter correct.

[2016-05-05 08:01] richswrighttj opened #245 "filter for empty dir"
Would it be possible to add in a filter to empty dir? I'd love to leave behind my .gitignore behind but carry on using fs.emptyDir

Thanks!

[2016-05-05 19:43] kutyepov opened #246 "fse.remove() && fse.removeSync() don't throw error on ENOENT file"
try {
    fse.removeSync('/directory/that/does/not/exist/index.js');
} catch (error) {
   //no exception will be thrown
}

Similarly,

fse.remove('/directory/that/does/not/exist/index.js', function(error) {
    //error is null
    console.error(error);
});

fse version 0.26.5

Is it expected behavior?  Otherwise, I can help fixing it.

[2016-05-05 19:44] jprichardson commented on #246
This is expected. Since you're trying to remove the file, why would you care if it doesn't already exist?

[2016-05-05 19:54] kutyepov commented on #246
Thank you for quick response.

I would be just nice to throw an exception for debugging purposes e.g. if incorrect path was passed.

[2016-05-06 17:59] ldong commented on #86
Use [fs.rename](https://nodejs.org/api/fs.html#fs_fs_rename_oldpath_newpath_callback)

[2016-05-17 11:55] ibratoev opened #247 "Add TypeScript typing directly in the fs-extra package"
The current typescript typings referenced in the README are seriously outdated. The best way to provide TypeScript typings is adding them directly in the package itself.
More info: https://github.com/typings/typings/issues/322

@jprichardson, I can contribute the typings for the current version if you have no objections.

[2016-05-17 23:17] abelnation opened #248 "Allow option to not preserve permissions for copy"
Currently, copy automatically performs chmod to keep the permissions of the original file

[2016-05-22 08:27] sosspyker commented on #240
True we need a sync implmentation of walk() method. Gulp task with walk() (async) causes issues since some files may not be available for tasks down the line. Thx.

[2016-05-25 03:29] paulhocker commented on #244
+1

copy uses NCP - copySync does a recursive call on itself - the smarts of NCP would need to be added to this funtion

[2016-05-26 05:45] icefox0801 commented on #244
+1

[2016-05-26 15:55] khurramraheel commented on #65
Should we use /.mp3/ regex in case of only copying the mp3s?

[2016-06-08 14:00] forensicsguy20012004 opened #249 "Just a Question ... Remove Servers"
Hello, love the module....great work. Quick question, either I missed it in the documentation or I am using the module incorrectly, can I use this functionality to copy a file from one server to another. If it is possible please let me know...like I said I could have missed it in the documentation or I just coded something wrong on my side. Again, great work...Thanks...Matt

[2016-06-08 14:42] jprichardson commented on #249
Fuse over SSH? SMB? What's the server OS?

[2016-06-08 15:11] forensicsguy20012004 commented on #249
Sorry, the OS is Windows...and I missed typed...Remove should have read...Remote..sorry about that. Essentially I would like to move a zip file from one Windows server to another....thanks again...Matt

[2016-06-10 09:41] forensicsguy20012004 commented on #249
I believe got this figured out. All appears to be working as designed. Thank you so much.

[2016-06-10 09:41] #249 closed

[2016-06-10 17:40] Bartozzz opened #250 "`fs.remove()` not removing files (works with `rm -rf`)"
Node.js version: `v5.10.1`
fs-extra version: `latest`

### Code:

[code]

### Output:

`Removed: /Users/.../some_folder/index.html`

### Issue:
The file still exists. When I use this command in the terminal: `rm -rf "/Users/.../some_folder/index.html"` the file is correctly deleted.

I wonder why the file cannot be deleted with the `.remove()` function? I am pretty sure the specified path is corre

[2016-06-10 17:46] #250 closed

[2016-06-12 07:31] basarat opened #251 "Just wanted to say thank you"
This package has been amazing in automating some file system moving around stuff :rose:

[2016-06-12 07:31] #251 closed

[2016-06-12 08:15] jprichardson commented on #251
You're welcome! 😊

[2016-06-16 07:56] donaldpipowitch commented on #192
Was the only reason for this removal, because it was not heavily tested? :( Sad to see this go.

[2016-06-16 14:44] jprichardson commented on #192
@donaldpipowitch sorry :( Yeah, I felt that because it has weird edge cases on different Node versions, that it may hold the entire library back. So I thought it was best to remove it. Rest assured though, it's still alive, just in a separate module: https://github.com/jprichardson/create-output-stream

[2016-06-17 16:53] meleyal opened #253 "outputFile does not touch mtime when file exists"
When modifying a file it seems the `mtime` is not updated:

[code]

[code]

[2016-06-18 21:30] zaaack commented on #240
+1 👍

[2016-06-18 21:34] zaaack opened #254 "request for readTree, readTreeSync, walkSync method"
They are the only methods that not included，it would be nice if we have they implemented.

[2016-06-19 02:17] jprichardson commented on #254
What would `readTree()` do?

[2016-06-19 04:09] zaaack commented on #254
@jprichardson   list all files in the folder, including subfolders

[2016-06-25 23:54] emilioplatzer opened #255 "Update rimraf required version"
Version 2.2.8 has (internaly) minimatch@0.3.0 with this warning:
`Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue`

[2016-07-01 18:32] jwilcurt-salesforce-com commented on #86
+1

[2016-07-02 04:26] liammclennan opened #257 "Copying a file on windows fails"
I'm using `fs.copySync(src, dest);`

It works on linux, but on windows I get

[code]

[2016-07-03 20:48] futagoza commented on #254
@jprichardson What he mean's is to simply get all files in a directory and sub-directories. This is useful in the case where you are only looking for files but a function like `klaw`'s `walk` will look overkill. I used to use something like this to gather files in a pre-processor:

[code]

[2016-07-04 03:59] jprichardson commented on #257
Will you post a snippet, including exact file names reproducing the problem?

Thanks.

[2016-07-04 10:43] liammclennan commented on #257
The problem was a colon in the file name, so something like:

[code]

The [fs.open function](https://nodejs.org/api/fs.html#fs_fs_open_path_flags_mode_callback) produces the same result. There is no way for this to actually work. A better error message would be nice, but I think this is a problem in node, not fs-extra.

[2016-07-04 10:43] #257 closed

[2016-07-08 02:23] chenlucan opened #258 "copy files does not preserve file timestamp"
The sample code
`var fs = require('fs-extra');
fs.copy('explore.jpg', 'explore.fs.extra.jpg', function (err) {
  if (err) return console.error(err);
  console.log("success!");
});
`

The destination file modification time changes to current time.

Is it a way to preserve timestamp? like `cp --preserve=timestamps`

also please contribute to this question, it mentions about fs-extra
[Ctrl+C/V under

[2016-07-08 03:15] jprichardson commented on #258
https://github.com/jprichardson/node-fs-extra#copy

[2016-07-08 03:15] #258 closed

[2016-07-09 16:13] TheJaredWilcurt commented on #127
Yes, please implement `fs.exists` and more importantly `fs.existsSync` so that it will continue to work as expected, returning a simple boolean value. I swear, the Node core devs have no concept of how real humans think. "Gee I want to delete something, should I call it fs.delete, or some bullshit like fs.unlink", complete idiots.

[2016-07-12 13:48] donaldpipowitch opened #259 "Feature Request: isEmpty"
It would be nice, if `fs-extra` would have a function which checks, if a directory is empty.

[2016-07-12 15:11] jprichardson commented on #259
What's the use case?

[2016-07-13 05:36] donaldpipowitch commented on #259
Currently writing some sort of "documentation linter" which checks, if the "examples" directory in our projects is empty. Basically a more powerful "fs.exists". (Thinking of it, "isEmpty" could also check if a file is empty, if it isn't a directory.)

[2016-07-21 23:46] brentonhouse commented on #240
👍

[2016-07-25 11:20] v3yr0n opened #261 "Cannot read property 'prototype' of undefined"
I'm getting the above error when I do just var fs = require ('fs-extra');

Any idea why?
node version: 6.3.1
fs version: 0.0.2
fs-extra version: 0.30.0

[2016-07-25 11:47] jprichardson commented on #261
What is "fs version: 0.0.2"? Also, without seeing any code to reproduce the error, it's hard to guess what's causing an error.

[2016-07-25 16:54] v3yr0n commented on #261
fs version means the fs node version https://nodejs.org/api/fs.html :)

The only code I need to have that error is var fs = require ('fs-extra'); nothing more.

Then I get: graceful-fs.js:157 - Uncaught TypeError: Cannot read property 'prototype' of undefined

[2016-07-25 16:59] v3yr0n commented on #261
someone had the same issue as me :) http://stackoverflow.com/questions/36771585/nodejsuncaught-typeerror-cannot-read-property-prototype-of-undefined

[2016-07-25 20:47] RobLoach opened #262 "Add .exists() and .existsSync()"
https://nodejs.org/api/fs.html#fs_fs_exists_path_callback

They are deprecated in `fs`, but could live in `node-fs-extra`.

[2016-07-25 21:23] jprichardson commented on #262
You bet. This is planned: https://github.com/jprichardson/node-fs-extra/issues/145

[2016-07-25 21:23] #262 closed

[2016-07-28 04:50] kadishmal opened #263 "ENOSYS: function not implemented, link"
I don't know if I should report this error or not, whether this error is caused by the network file system that we use or not, anyway, here it is.
- `fs-extra v0.26.7`
- Node `v4.4.7`

[code]

The problem code line is [`fs-extra/lib/move/index.js:73:11`](https://github.com/jprichardson/node-fs-extra/blob/master/lib/move/index.js#L73). This means that the underlying FS doesn't support the `fs.link`

[2016-08-02 09:10] raulggonzalez commented on #244
+1

[2016-08-06 19:00] Nico-L commented on #261
Hi, it seems it is rather a [graceful-fs issue](Uncaught TypeError: Cannot read property 'prototype' of undefined #70).

[2016-08-06 19:20] CxRes opened #264 "Renaming a file using move fails when a file inside is open (at least on windows)"
I am not sure if this a fs issue or an fse issue. Apologies if it is the former.

I tried renaming a folder when a file inside it was open. fse created a folder with new name and copied everything into it and then deleted every file except the one open (which Windows locks). Normal Windows behaviour is to lock the folder itself so that it cannot be renamed... I am guessing this is a bug here?

Usi

[2016-08-10 08:51] lichenhao opened #265 "Link the `fs.stat fs.exists` etc. methods for replace the `fs` module forever?"
RT, If there some links for that method, we will never need to use fs module forever .

[2016-08-10 15:59] jprichardson commented on #265
I'm not sure what your question or issue is?

[2016-08-10 18:06] tndev commented on #246
I would also suggest to add an `ENOENT` error.

There are situations where it is useful to get this information, e.g. when implementing a DAV base protocol or a RESTful interface, it is required to return an error if the client tires to delete a resource or collection that does not exits. As of that it is currently required to do a test if the file or directory exits before the `fse.remove` can be

[2016-08-11 07:11] lichenhao commented on #265
I mean may be the other method of `fs` can be linked in the extra and then , when we use the fs-extra module , we don't need to load the fs module again. It's not a problem but it's very lovely design. Just my idea.

[2016-08-12 22:07] tndev commented on #265
@lichenhao all methods of `fs` exists in `fs-extra`  [Usage](https://github.com/jprichardson/node-fs-extra#usage):

Could be more clear about what you think is missing?

[2016-08-15 01:11] Eliyanan opened #266 "fs-extra"
i downloaded node-fs-extra .zip file and rename it too fs-extra and place it in node-modules folder.. the problem is when i try to require this module it makes my nw.js app invisible. i had written it as z guidance says. so any helps..

[2016-08-16 02:38] lichenhao commented on #265
@tndev  Thx~

[2016-08-16 02:38] #265 closed

[2016-08-22 12:58] Alnyli07 commented on #224
I have same error too.

version 0.24.0 ->  all of my unit tests were passed.
version 0.30.0 ->  some tests were randomly failed.

I think .copySync/copy causes  by removing file or files.

[2016-08-23 11:53] avshelestov opened #267 "WARN deprecated wrench@1.5.9: wrench.js is deprecated!"
I'm trying to install apidoc npm module, but:

[2016-08-24 07:29] #267 closed

[2016-09-01 09:54] CurryKitten opened #269 "Copying with preserveTimeStamps: true is inaccurate using 32bit node"
I have been running the fs-extra tests via npm test on various platforms, and have been getting failures on the 32bit versions of node.  I wasn't sure if millisecond precision would be supported or not at 32bits, and it should be pointed out that the underlying OS is 64bit, but we do get back valid millisecond precision timestamps using 32bit node, it's just not accurate once we copy a file and as

[2016-09-01 10:33] johannasc commented on #240
+1

[2016-09-06 21:32] rlintern opened #270 "copy not working as desired on Windows"
I'm having some trouble on Windows with the copy function.  Others on our team are using Linux and seem to have no trouble.  The following snippet gives me an error unless I create the 'target/folderA/' directory beforehand.

[code]
The error I get is:
[code]

Is this expected behaviour on Windows or a bug?

Regards

[2016-09-07 00:10] jprichardson commented on #270
Weird. Can you change this to absolute directories using `path.resolve()` to see if this is still a bug? I'm wondering if there's a bug somewhere related to relative directories.

[2016-09-07 00:24] rlintern commented on #270
I think there may be a fundamental difference between mkdir on Windows versus mkdir on Linux.   I think Windows needs parent directories to exist first.  I vaguely remember something like this from another project in the past, or I dreamt it.   It may be more appropriate to use your own mkdir**s** command or equivalent.

[2016-09-07 00:29] rlintern commented on #270
oh wait, using path.resolve() worked, as in:
`fsextra.copy(path.resolve('source/folderA/folderB'), path.resolve('target/folderA/folderB'),`

[2016-09-09 22:09] chadnickbok opened #271 "Unclosed file handle on futimes error"
The call to fs.close(fd) should be performed _before_ the call to return in this function:

https://github.com/jprichardson/node-fs-extra/blob/master/lib/util/utimes.js#L53

[2016-09-10 00:13] ryancmlee opened #272 "Copy clobber flag never err even when true"
In the following code `err` is never not `null`:

[code]

Maybe this is intended but then at least add the option for open flags so I can at least put `wx` and have it `err.code =  "EEXIST"`

Thanks,
Ryan

[2016-09-11 19:33] arvitaly opened #274 "Use with memory-fs?"
Hi, i love your library, but can you add support for change native fs to https://www.npmjs.com/package/memory-fs or other fs?

[2016-09-11 19:54] jprichardson commented on #274
I actually have a local branch where I've been working on this but got side-tracked. If you'd want to tackle this, I'd welcome this change. Maybe start with one function at a time, or maybe we need to create a factor method. Not sure yet.

[2016-09-11 20:15] arvitaly commented on #274
I think, we have a good example [here](https://github.com/jprichardson/node-fs-extra/blob/8c56e5b263608359a612c805e3f867565987eb37/lib/mkdirs/mkdirs.js) already. Ok, i will try pull requests, thank you.

[2016-09-11 20:26] jprichardson commented on #274
Ok great, but start with one function at a time please :)

[2016-09-13 09:23] jareguo opened #275 "EMFILE, too many open files on Mac OS with JSON API"
readJson relies on `jsonfile` module, which just uses the original node fs module. It will cause the [EMFILE](http://blog.izs.me/post/56827866110/wtf-is-emfile-and-why-does-it-happen-to-me) error on Mac, so it's better to use `graceful-fs` everywhere to avoid the EMFILE problem.

[2016-09-13 09:52] jprichardson commented on #275
@jareguo good point. Would you submit a PR in `jsonfile`?

[2016-09-13 16:03] jareguo commented on #275
Sorry I don't have much time to submit a PR (and test it) lately, I just ignore all json API in my project.

[2016-09-14 02:47] fradiocey opened #276 "Cannot connect to Shared Folder"
{ [Error: ENOENT: no such file or directory, lstat 'net use z: //mymswfs01/180-Public/BPMS/Book1.xlsx']
  errno: -2,
  code: 'ENOENT',
  syscall: 'lstat',
  path: 'net use z: //mymswfs01/180-Public/BPMS/Book1.xlsx' }

[2016-09-15 13:55] richdunajewski commented on #275
Seeing the same on Windows when writing JSON files in a loop (but waiting for the `outputJson` callback to fire before going through another iteration to prevent stacking up the writes). Nearly 200,000 iterations occurred before the EMFILE exception was eventually thrown.

Perhaps the callback is firing before the file is truly closed, allowing a variable number of handles to be left open when in

[2016-09-17 01:39] bhousel commented on #275
I'm getting this error when using `walk` too..

[2016-09-17 04:59] sant123 commented on #86
+1

[2016-09-23 11:22] greyarch opened #278 "copy() does not preserve file/directory ownership"
All files/directories in the copy are owned by the user that started the node.js process.

[2016-09-27 07:59] centigrade-thomas-becker commented on #145
I don't understand the reason behind making .exists() depracated, and frankly I don't care. I like using exists() because it is concise.

So, please add this function to fs-extra so that I can keep using it.

[2016-09-27 11:01] jprichardson commented on #145
Is Node v7 removing it?

[2016-09-27 18:13] qqilihq commented on #272
I'm asking myself as well: Is there any way to determine, if the file content was copied, when `clobber` is set to `false`?

[2016-09-27 22:16] cassierecher opened #279 "Clarify vendored code licenses"
I'd love to use this in a project, but the vendored copies of of ncp and node-mv, along with the license mismatch between this project and mv, clash with company policies. Could those dependencies be obtained by require() instead?

[2016-09-28 17:48] jprichardson commented on #279
No. `ncp` and `node-mv` are broken. You'll see a lot of fixes to those. `ncp` is deprecated. If there is a licensing mismatch or something is incorrect, that is 100% unintentional and I'm willing to clear that up / fix that. Let me know your thoughts.

[2016-09-28 21:28] chrisrecher commented on #279
Thanks for addressing this so quickly!

In particular, the project has a LICENSE file asserting MIT, but [index.js](https://github.com/jprichardson/node-fs-extra/blob/master/lib/move/index.js) claims BSD. Is this file offered under different terms?

[2016-09-29 01:05] kirkstrobeck commented on #53
^ Doesn’t work

[2016-09-29 15:48] jprichardson commented on #279
I did that because I wasn't sure if I could relicense under different terms. If the code has changed substantially enough or a rewrite, I could.

I just want to write code and solve problems. So if something is not compliant, I'm happy to change, so I'd appreciate your thoughts and direction.

[2016-09-29 15:50] jprichardson commented on #279
"All code in this project is licensed under MIT, unless explicitly stated differently in the individual file." - does that suffice?

[2016-09-30 12:57] overlookmotel commented on #266
@Eliyanan I think you'd need to provide a bit more detail to get a response to this. Like wht do you mean by "makes my nw.js app invisible"?

[2016-10-03 16:42] georgeedwards opened #281 "remove function executes "successfully" but doesn't do anything?"
I am using the remove function, which when executed prints "success" to the console. But as you can see below the file path is unchanged. Why? I am using the latest version on Windows 10.

[![enter image description here][1]][1]

  [1]: http://i.stack.imgur.com/DIwJh.png

[2016-10-03 16:49] jprichardson commented on #281
I'm not sure what you're trying to do here... specifically since you're using `copy` right after `remove` with the same path. Also, you're using absolute paths, so that seems weird given the path name.

If you're trying to test if `remove` works, just use `remove` and then call `existsSync` on that path.

[2016-10-03 16:56] georgeedwards commented on #281
@jprichardson The remove was for a child directory of the one listed, the idea being to remove something from `docs-production` and then move what remains elsewhere. I changed it to show in the screenshot. However, I still don't understand why `docs-production- still exists in `pre-source` after running this file?

[2016-10-03 17:06] jprichardson commented on #281
You're using absolute paths. That's why. e.g. `/pre-source` vs `pre-source`.

[2016-10-03 17:23] #281 closed

[2016-10-03 22:45] DaneEveritt commented on #83
Sorry to bring this back up, but any progress on implementing this, or should I add my own checks?

[2016-10-03 23:41] jprichardson commented on #83
What checks would you add?

[2016-10-03 23:51] DaneEveritt commented on #83
I built off @iwege's changes, and made the following function that I'm using before I call the move function.

[code]

Prevents moving folders into themselves, but doesn't block moving a folder into another folder that *starts* with the same name (so `src` can still move into `src-dest`, but not into `src`).

Renaming files to the same name also triggers the catch, but that doesn't bother me so mu

[2016-10-04 03:32] unclay commented on #261
Don't use fs-extra in web

[2016-10-04 04:21] #261 closed

[2016-10-11 07:49] blinkybill opened #284 "outputFile method is missing a check to determine if existing item is a folder or not"
If the file that is requested to be created is in directories that do not exist, these directories are created. But there is a little bug I came across accidentally where this doesn't happen. If you have a file without an extension the method mistakenly thinks the folder already exists and won't try to create the folder. I.e. it's not properly checking to see if an item is a file or a folder.

E.g

[2016-10-12 15:22] GeorgeAdams95 opened #285 "CITGM test failing on s390"
I get the following failure when running citgm-all on s390

[code]

Any help would be apreciated

[2016-10-12 15:24] GeorgeAdams95 commented on #285
forgot to mention that this is on node 6.7.0

[2016-10-12 17:42] jprichardson commented on #285
@GeorgeAdams95 could there be something going on with libuv and sub-millisecond time precision on the s390?

I've had this issue with Windows before. If you feel like digging:

- https://github.com/nodejs/node/issues/2069
- https://github.com/nodejs/node-v0.x-archive/issues/7000
- https://github.com/nodejs/node-v0.x-archive/issues/9369

Thanks.

[2016-10-12 22:17] jdalton commented on #145
Just a heads up [Node v6.8.0](https://nodejs.org/en/blog/release/v6.8.0/) undeprecated `fs.existsSync` though it still has `fs.exists` (the async form) deprecated.

[2016-10-14 02:52] hhamilto commented on #276
Just to help clarify, what operation were you trying when you get this error?

[2016-10-14 16:15] hhamilto commented on #271
Unless anyone is working on this, I'll submit a PR.

[2016-10-14 18:04] jprichardson commented on #271
Would love this. Please include a test. Thanks!

[2016-10-14 18:07] hhamilto commented on #271
Will do. I think there might be a few different ways to test this, so once the PR is up, I'll welcome some feed back on the best approach.

[2016-10-14 21:16] rahatarmanahmed opened #287 "emptyDir() callback arguments are inconsistent"
When using `emptyDir()`, the arguments passed to the callback are inconsistent. When the directory doesn't exist, the arguments are `[null, '/path/to/dir']`. If the directory does exist, there are no arguments passed.

Reproduce with:

[code]

which outputs:

[code]

[2016-10-14 21:51] rahatarmanahmed commented on #287
This seems to happen to `ensureDir()` as well. I think it happens for any function that has a logic of "mkdir" or "something else", because "mkdir" will return the dirname as an argument, but the "something else" doesn't return an argument.

[2016-10-15 03:27] hhamilto commented on #271
@jprichardson Question:
How do you feel about adding a devDependency on Sinon, or some other mocking library?

Background:
I'm thinking that mocking would be the best way to test that `close` is properly called even when the call to `futimes` returns an error. The only errors that `futimes` usually returns occur when the fd passed in refers to a file on a read-only file system, or if the owner of

[2016-10-15 05:33] jprichardson commented on #271
@hhamilto how do you feel about proxyquire?

[2016-10-15 20:35] hhamilto commented on #284
if fs-extra created a folder at `/folder1/folder2/abcd` what should happen to the file at `/folder1/folder2/abcd` that was already inside `folder2` ?

[2016-10-17 06:40] Quocnamit opened #290 "Exclude files pattern while copying using copy.config.js"
Hello everyone,

I'm using my custom copy.config.js to define my resource which will be copy to my build destination.

module.exports = {
  include: [
   {
      src: 'node_modules/ionic-angular/fonts/',
      dest: '{{WWW}}/assets/fonts/'
    }
  ]
};

I want to exclude some *.scss in 'node_modules/ionic-angular/fonts/'. How can I do this ?

Thanks

[2016-10-21 12:17] blinkybill commented on #284
Ideally the file called "abcd" should remain there (because it was there intentionally), and if a folder happens to have the same name then the folder "abcd" should also be allowed to be created because the folder wont clash with or overwrite a file with the same name on the file system.

e.g. /folder1/folder2/abcd/ ...should ideally be allowed to have both a "hosts" file, and a folder called "hos

[2016-10-21 15:15] hhamilto commented on #284
I don't think that having a directory and a file with the same name is supported on all file systems.

Here is a Stack Overflow question with some discussion on the subject for Unix: http://unix.stackexchange.com/questions/22447/why-cant-i-have-a-folder-and-a-file-with-the-same-name

Basically, a directory is a special type of file, and you can't have two files with the same name in a directory, s

[2016-10-25 00:19] RyanZim commented on #290
fs-extra currently doesn't support globs, you will need to use https://github.com/isaacs/node-glob.

You will need to use a combination of the `filter` option and glob to accomplish excluding a glob.

Something like this:
[code]

Hope this answers your question; if so, please close.

[2016-10-25 00:39] RyanZim commented on #287
Just a clarification:

`emptyDir()`:
[code]

`ensureDir()`:
[code]

[2016-10-25 00:49] RyanZim commented on #287
@jprichardson What is the correct `arguments` signature?

[2016-10-25 00:52] RyanZim commented on #284
I agree with @hhamilto, a file and dir with the same name is a bad practice. @jprichardson Any reason to keep this open?

[2016-10-25 00:54] RyanZim commented on #279
@chrisrecher ping?

[2016-10-25 00:59] RyanZim commented on #278
FWIW, unix `cp` doesn't preserve ownership by default. http://unix.stackexchange.com/questions/43605/how-do-i-copy-a-folder-keeping-owners-and-permissions-intact

@jprichardson Is this within the scope of fs-extra? I would tend to think this belongs in a separate `copy-preserve` module that does nothing but copy files preserving ownership and permissions; you may think differently.

[2016-10-25 00:59] RyanZim commented on #276
@fradiocey ping?

[2016-10-25 11:44] RyanZim commented on #275
I'm working on fixing `walk`.

[2016-10-25 11:56] RyanZim commented on #275
Done https://github.com/jprichardson/node-klaw/pull/10.

When that is merged and `klaw` makes a new release, this can be closed.

[2016-10-25 11:59] RyanZim commented on #274
@arvitaly @jprichardson What is the plan/status on this? Is the whole library going to do something like `mkdirs`?

[2016-10-25 12:14] RyanZim commented on #272
@ryancmlee @qqilihq Good points. @jprichardson Thoughts?

[2016-10-25 15:02] jprichardson commented on #272
Yep, this is a bug. If `clobber` is `false` and the destination exists, there should be an `Error`.

[2016-10-25 15:04] jprichardson commented on #274
@RyanZim my plan is to allow `fs-extra` to take in any `fs` object, by default `require('fs')` to allow for mock / memory filesystems. Some methods already have this support. I really like https://github.com/tschaub/mock-fs

[2016-10-25 15:19] RyanZim commented on #272
OK, will investigate.

[2016-10-25 15:25] RyanZim commented on #274
:+1: I was wondering what API you were planning.

Possible ways:
[code]

[code]

[code]

Thoughts? I personally would favor the first one, or a combination of the first and third.

[2016-10-25 15:54] #275 closed

[2016-10-25 16:29] RyanZim commented on #272
The issue is https://github.com/jprichardson/node-fs-extra/blob/master/lib/copy/ncp.js#L92. @jprichardson Should I attempt to create a fake `EEXIST` error here or what?

[2016-10-25 16:32] jprichardson commented on #272
@RyanZim yep, I think that'd be fine.

[2016-10-25 16:39] jprichardson commented on #278
Sounds good.!

[2016-10-25 16:39] #278 closed

[2016-10-25 16:40] jprichardson commented on #284
Nope! :)

[2016-10-25 16:40] #284 closed

[2016-10-25 16:45] RyanZim commented on #266
@overlookmotel Is right. BTW, by all means use npm to install fs-extra.

@jprichardson Should this be closed?

[2016-10-25 16:46] RyanZim commented on #271
@hhamilto How's that PR coming along?

[2016-10-25 16:49] RyanZim commented on #270
@jprichardson ping?

[2016-10-25 16:49] RyanZim commented on #269
@jprichardson ?

[2016-10-25 16:50] RyanZim commented on #264
@jprichardson ping?

[2016-10-25 16:51] RyanZim commented on #263
@jprichardson Thoughts?

[2016-10-25 16:51] jprichardson commented on #287
When in doubt, we should:

1. Follow the lead of Node.js.
2. Strive for consistency.

These aren't hard rules though, especially if it means dirtying up the code to ensure that `err` is either `undefined` always or `null` (assuming no Error).

@rahatarmanahmed can you elaborate more on the problem this is causing your code?

[2016-10-25 16:52] hhamilto commented on #271
@Ryan I'd welcome your feedback on it:
https://github.com/jprichardson/node-fs-extra/pull/289

[2016-10-25 16:53] jprichardson commented on #263
There isn't enough info here to reproduce anything. I do know that I've had a heck of a time with `fs.link` and `fs.rename` on Windows and debugging issues in the past. Network FS just makes it trickier.

[2016-10-25 16:54] RyanZim commented on #271
Sorry, didn't realize a PR was filed.

[2016-10-25 16:55] jprichardson commented on #264
This feels out of scope for `fs-extra`. Don't you think @RyanZim?

[2016-10-25 16:55] RyanZim commented on #263
@kadishmal Is this still an issue? If so, could you provide more context?

[2016-10-25 16:56] hhamilto commented on #271
No worries, I meant to put a ping on it a while back, to see if there is anything else that needs to be fixed before it gets merged.

[2016-10-25 16:56] jprichardson commented on #269
Ah, this could be a nasty one. Not sure how to proceed here as millisecond precision has been a bear.

[2016-10-25 16:58] jprichardson commented on #270
Seems to me that the paths should be resolved in advance by `copy()`... thoughts @RyanZim?

[2016-10-25 16:58] #266 closed

[2016-10-25 16:59] RyanZim commented on #264
It's up to you. Don't know if this is big enough to error about or not.

[2016-10-25 16:59] #264 closed

[2016-10-25 17:00] jprichardson commented on #264
I'll state that this is `wont-fix` isn't definitive - it only serves as a marker that this issue has been considered at this moment and that there are other priorities for the `fs-extra` authors to tackle. In the future we may reconsider.

[2016-10-25 17:01] RyanZim commented on #269
@CurryKitten Does this problem directly affect your actual code?

If not, this is low-priority or wontfix IMO.

[2016-10-25 17:02] RyanZim commented on #270
If you can run `path.resolve` on input without side effects, I'd say do it!

[2016-10-25 17:04] RyanZim commented on #259
Wouldn't be opposed to an `isEmpty` method with a `filter` option, but ignoring meta files would be rather unexpected. Should be in a separate lib IMO.

@jprichardson Reopen if you disagree.

[2016-10-25 17:04] #259 closed

[2016-10-25 17:07] RyanZim commented on #255
@emilioplatzer This is no longer an issue; thanks for reporting though! :smile:

[2016-10-25 17:07] #255 closed

[2016-10-25 17:08] RyanZim commented on #254
@jprichardson ?

[2016-10-25 17:10] jprichardson commented on #254
`readTree()` seems out of scope. `walkSync()` there is a PR for that. Still unsure.

[2016-10-25 17:10] #254 closed

[2016-10-25 17:12] jprichardson commented on #270
This is the biggest concern. IDK, can we safely assume this? Maybe not?

[2016-10-25 17:33] #271 closed

[2016-10-25 18:12] jprichardson commented on #274
I think `fs.registerFS(require('mock-fs'))` is a great first start. I'd eventually like the ability to override at the functional level as well. That's where I started first... I believe you can see it in action in some functions... may just be in `jsonfile` though.

[2016-10-25 18:20] blinkybill commented on #284
true a file and folder in the same directory with the same name is valid on the file server, but not on a web server that's trying to serve content based on a url (won't know what to serve).  A reason I came across this weird scenario is that I'm saving different web content on multiple occasions to a single location, and I have an extension less file which isnt common.  Instead of the files in th

[2016-10-25 19:21] hhamilto commented on #269
I did a little digging previously, and this issue is due to the limitations of floating point precision in 32 bit Node.js.

Internally, we implement the `preserveTimestamps` option by calling futimes on the new copy of the file. However, the interface for futimes that libuv exposes takes the timestamp as a double (and therefor does also Node.js) l, which limits the precision when running in 32 bit

[2016-10-25 19:46] jprichardson commented on #269
Ah, sounds like maybe the best course of action is to throw up a warning if it's 32-bit and the flag is set.

[2016-10-25 19:48] jprichardson commented on #269
Btw, thanks for your help here @hhamilto!

[2016-10-25 20:15] RyanZim commented on #269
@jprichardson How should we pass this warning? `console.warn`? (bad practice for libs IMO)

[2016-10-25 20:38] RyanZim commented on #272
@jprichardson Creating a fake `SystemError` isn't easy, and I don't think I can replicate it completely. Advice?

[2016-10-25 20:43] jprichardson commented on #272
@RyanZim what about...

[code]

?

[2016-10-25 20:44] jprichardson commented on #269
I generally agree with this, but I don't know of any other way other than `console.warn`....

[2016-10-25 21:42] RyanZim commented on #272
I guess that will cover most cases; still will have a JS stack trace, IDK.

Should also set `err.errno = -17` & `err.path = file`.

[2016-10-25 21:44] RyanZim commented on #269
OK, sounds good.

Self-assigning but if someone else wants to do this, let me know.

[2016-10-25 21:53] RyanZim commented on #269
@jprichardson What's the most accurate way to determine 32 or 64 bit?

[2016-10-25 23:49] rahatarmanahmed commented on #287
@jprichardson it causes issues when used with a package like [https://www.npmjs.com/package/run-waterfall](run-waterfall). I ran into it while working on this PR: https://github.com/electron-userland/electron-packager/pull/505/commits/72ab0e72fbd6351ea609a2b0f01a8bd920ceb996

[2016-10-26 01:49] jprichardson commented on #269
Since we care about the Node.js build arch not the actual CPU build arch (i.e. 32 bit Node can run on 32-bit or 64-bit arch), I think `process.arch` should be fine.

[2016-10-26 12:26] RyanZim commented on #269
From the docs:

I wasn't quite sure which architectures were 32 bit. Obviously `arm`, `ia32`, `ppc`, `s390` are 32-bit, not quite sure about `mips`, `mipsel`, and the `x*` line (other than `x64` being 64-bit).

[2016-10-26 14:59] RyanZim commented on #270
@jprichardson I'll leave that to you.

[2016-10-26 15:01] RyanZim commented on #276
If I don't get a response from @fradiocey  within 7 days, I will close this.

[2016-10-26 15:03] RyanZim commented on #287
If @rahatarmanahmed wants to submit a PR, SGTM. Suffice to say this isn't high-priority for me.

[2016-10-26 15:06] RyanZim commented on #248
@abelnation Why can't you copy the file and then chmod it?

[2016-10-26 15:08] RyanZim commented on #247
@jprichardson Thoughts?

My concern is that the typings will become outdated, and FYI I am not interested in maintaining them.

@ibratoev Have you tried submitting a PR updating the external ones?

[2016-10-26 15:11] RyanZim commented on #246
Good point!

This would be a **huge** breaking change.

If this functionality is really needed (I'm not convinced it is), it should be a separate method. Feel free to open a feature request for that if you are so inclined.

[2016-10-26 15:11] #246 closed

[2016-10-26 15:12] ibratoev commented on #247
Yeap, I updated the typings in DefinitelyTyped ;) If you are not interested in having them together with your package, feel free to close the issue.
Cheers

[2016-10-26 15:14] RyanZim commented on #247
Closing, @jprichardson reopen if you feel differently.

[2016-10-26 15:14] #247 closed

[2016-10-26 15:15] rahatarmanahmed commented on #287
Sorry, I only ran into this working on a PR for another project. I don't personally use fs-extra or run-waterfall, so it's not a high-priority for me either 😢

[2016-10-26 15:15] RyanZim commented on #245
Wouldn't be a bad idea IMO. @jprichardson ?

[2016-10-26 15:17] RyanZim commented on #287
I don't think this is going to get fixed for v1.0.0, so removing the milestone.

@jprichardson If you want to close this as `wontfix`, IDK.

[2016-10-26 16:24] hhamilto commented on #242
Unless any one else is feverishly working on this, I'd be delighted to submit a PR.

@krainboltgreene any chance you still have that test lying around? No worries if not, but I'd like to be sure that my changes fix your problem.

In any event, I'll write a test too.

[2016-10-26 16:57] #248 closed

[2016-10-26 17:02] RyanZim commented on #253
Will investigate

[2016-10-26 17:04] RyanZim commented on #285
@GeorgeAdams95 @jprichardson Does this need to stay open?

[2016-10-26 17:08] RyanZim commented on #239
@jprichardson ping?

[2016-10-26 17:09] RyanZim commented on #234
This is an old issue. If I don't get a response from @s-a in a few days, I will close.

[2016-10-26 17:12] RyanZim commented on #233
@jprichardson Can you elaborate a bit?

[2016-10-26 17:22] RyanZim commented on #227
This is at https://github.com/jprichardson/node-fs-extra/blob/master/lib/mkdirs/mkdirs.js#L32.

`fs` throws a TypeError if `path` is not a string. On one hand, I see @enneid's point, but this is a case where I think we should follow node.js' lead and throw an error.

Passing `null` is a programmer error, not a runtime error. If you have a unique case where this can be a runtime error, you will hav

[2016-10-26 17:22] #227 closed

[2016-10-26 17:23] RyanZim commented on #226
@omarfouad Have you tried `.`? Not sure; @jprichardson ?

[2016-10-26 17:24] RyanZim commented on #225
Not enough info to reproduce. If this is still an issue, please open a new issue with more info/context.

[2016-10-26 17:24] #225 closed

[2016-10-26 17:26] RyanZim commented on #224
If no response within a few days, I will close this.

[2016-10-26 17:28] RyanZim commented on #206
`arguments` is a special JS keyword that is an array of all the arguments passed to the function.

`encoding` is in that array, so it is being used.

Thanks anyhow!

[2016-10-26 17:28] #206 closed

[2016-10-26 17:35] krainboltgreene commented on #242
@hhamilto Any test you write that includes `$$` in the string is sufficient, I think!

[2016-10-26 17:36] MadMikeGamerXL1 commented on #224
Sorry, I wasn't even alerted of the reply at all, that's a bit strange (even searched my emails to check, and nothing from back then). Sorry!

Anyway, I've moved on from that Javascript project, there were so many issues it just seemed easier to rewrite it in a different language (it suits better for what I needed anyway). Thanks for replying though. :)

[2016-10-26 17:42] jprichardson commented on #269
Great point. I was naively only thinking about `ia32`.

 @CurryKitten you were referring to `ia32`, correct? Or any 32-bit Node.js

[2016-10-26 17:44] jprichardson commented on #270
Since I can't say for certainty, I think we should pass on `path.resolve` for the time being. If someone else reads this is knows otherwise, please comment.

[2016-10-26 17:44] #270 closed

[2016-10-26 17:47] jprichardson commented on #245
I'm not opposed to it, but from an implementation standpoint, I think it would require a decent amount of code. Also, does the filter decide what to keep or what to remove? Or both? Then there becomes a lot more code.

Overall, I'm not opposed, but I don't think it should be any priority in the short-term. Closing, but please keep discussion going if anyone feels the need to. Also, @RyanZim if you

[2016-10-26 17:47] #245 closed

[2016-10-26 17:48] jprichardson commented on #287
@rahatarmanahmed interested in submitting a PR?

[2016-10-26 17:49] #242 closed

[2016-10-26 17:51] #224 closed

[2016-10-26 17:53] RyanZim commented on #245
Nope, we're swamped enough at the present.

[2016-10-26 17:54] jprichardson commented on #239
I'd prefer only functions, but I'm afraid that it'll break a lot of code. Long-term, this should use file glob patterns with another module like `glob`. So we should at least deprecate the Regex version for `1.0.0`.

Thoughts?

[2016-10-26 17:55] jprichardson commented on #233
@RyanZim `copy()` sometimes returns an array of errors instead of an Error object. This should be fixed for 1.0.0. The problem is... what should the behavior be like? First error? First error with an array of the other errors?

[2016-10-26 17:56] jprichardson commented on #227
👍

[2016-10-26 17:59] RyanZim commented on #239
@jprichardson Migration from regexes is simple:

[code]

If you want to depreciate, go ahead.

[2016-10-26 18:03] RyanZim commented on #233
@jprichardson Let's face it: _ncp.js need rewritten_. The resulting rewrite would probably make it small enough to inline in https://github.com/jprichardson/node-fs-extra/blob/master/lib/copy/copy.js. I initially thought that perhaps we could keep it running long enough to survive the v1.0.0 release, but I'm not sure.

:+1:

Should all the issues pertaining to ncp.js be consolidated into one issue

[2016-10-26 18:22] RyanZim commented on #205
Good point. `copy` is long due an overhaul, and those options may change then. We'll fix the docs then.

[2016-10-26 18:22] #205 closed

[2016-10-26 19:12] jprichardson commented on #233
I'm fine with this. It's changed significantly since the original `ncp` and has many bugs fixed. My major concern with the rewrite is that it delays the release of 1.0.0. May be best to do it for 2.0.0. But if you feel differently, than I'm more than fine with it for 1.0.0.

[2016-10-26 19:21] RyanZim commented on #233
@jprichardson Not set on it, but I'm afraid fixing all the bugs in `ncp` is going to take longer than rewriting it. :grinning:

[2016-10-26 19:29] RyanZim opened #292 "Rewrite lib/copy/ncp.js"
This needs rewritten. It has several bugs and is overly complex. It was written for use with `fs` instead of `graceful-fs`, and contains a lot of concurrency-limiting code that is now unnecessary.

Once rewritten, it may be small enough to inline in lib/copy/copy.js; talk about that later.

I'll try to do this myself, but help welcome. Adding this to the v1.0.0 milestone, but may have to be pushed

[2016-10-26 19:32] rahatarmanahmed commented on #287
@jprichardson Not really, sorry. Hate to be one of those hit-and-run issue creators, but I don't really have an investment in this project.

[2016-10-26 19:42] RyanZim commented on #171
1. Definitely remove `mkdirs`, IDK about `ensureDir`.
2.

  :+1:

[2016-10-26 19:55] RyanZim commented on #244
Oops, duplicate of https://github.com/jprichardson/node-fs-extra/issues/180.

[2016-10-26 19:55] #244 closed

[2016-10-26 19:55] RyanZim commented on #180
@jprichardson Should this added to the v1.0.0 milestone?

[2016-10-26 20:06] RyanZim commented on #157
@jprichardson Any ideas? I've got other more pressing things ATM.

[2016-10-26 20:08] RyanZim commented on #152
@goloroden Is this still an issue with the latest version?

[2016-10-26 20:15] RyanZim commented on #115
@jprichardson This issue is so old, shouldn't we just close it and see if anyone else reports it later?

[2016-10-26 20:16] RyanZim commented on #106
@jprichardson Can you reproduce?

[2016-10-26 20:17] RyanZim commented on #94
@jprichardson What needs done here yet?

[2016-10-26 20:57] RyanZim commented on #292
@jprichardson Found why we need https://github.com/jprichardson/node-fs-extra/blob/master/lib/copy/ncp.js#L150: http://stackoverflow.com/questions/34720794/create-directory-with-permission-in-node-js.

Advice here?

[2016-10-26 22:25] enneid commented on #227
fs throws a TypeError if path is not a string. However in basic functionality you can easly catch this error!

`
 fs = require('fs')
try{
fs.link(null, null, (err, data) => {
console.log("Errr", err)})
}catch(err){
console.log("Crash", err) // will emit Crash [TypeError: dest path must be a string]
}
`
code crash on fs.link in move/index.js.  If you call wrap  each try{} catch{} atomic async metho

[2016-10-26 22:42] RyanZim commented on #227
@jprichardson ?

I would tend to argue that in this case you should still type-check it yourself.

[2016-10-26 23:04] RyanZim commented on #290
Going to close this, can reopen if more help is needed.

[2016-10-26 23:04] #290 closed

[2016-10-26 23:23] enneid commented on #227
I think whole fs library  throw  only catchable errors.
Validation issue is not on this level.  Library must  not loose fully context and throw error outside app

[2016-10-26 23:41] CurryKitten commented on #269
@jprichardson I'm away on vacation at the moment, so don't have my notes with me - but I believe in this case it was just ia32 that exhibited this problem.  From memory, zLinux31 was giving an issue, but it wasn't the same symptoms.

[2016-10-26 23:43] RyanZim commented on #269
OK, I think I'll just warn for `ia32`; if other architectures have the same problem, we can add warnings for them later.

[2016-10-27 02:46] jprichardson commented on #287
@rahatarmanahmed I appreciate your candid response :)

[2016-10-27 02:48] jprichardson commented on #171
I thought `mkdirs` was more newbie-friendly than `mkdirp`. Interesting. Of the three, I prefer to have only one way. `ensureDir` seems very clear to me... but I think it would confuse people not having `mkdirp`. IDK here.

[2016-10-27 02:51] jprichardson commented on #157
This is over a year old. If there is still some issue with the latest versions and Babel6, feel free to reopen @donaldpipowitch.

[2016-10-27 02:51] #157 closed

[2016-10-27 02:56] jprichardson commented on #145
Done.

Given that `fs.existsSync` has been undeprecated and `fs.exists` is still hanging around in Node v7.0.0, this isn't a huge priority.

[2016-10-27 02:58] jprichardson commented on #106
Nope, can't produce on Windows 10 and Node v6. Please reopen @ct-js if still an issue.

[2016-10-27 02:58] #106 closed

[2016-10-27 03:12] #115 closed

[2016-10-27 03:15] jprichardson commented on #94
I believe two things:

1. `copySync()` should throw an error if dest exists.
2. `copySync()` should have `clobber`.

And now looking at my most previous commits tagged here... IDK. Weird.

@falmp or @Globegitter do you know what's still missing?

[2016-10-27 03:18] jprichardson commented on #292
I think that rewriting is a mistake for 1.0.0 and shouldn't even be considered even though it's bad legacy code. By all means, don't let me stop you, it's just in my long experience of writing code a rewrite is a bad idea 99% of the time.

[2016-10-27 03:20] jprichardson commented on #227
@enneid interested in submitting a PR?

[2016-10-27 03:31] #269 closed

[2016-10-27 08:02] enneid commented on #227
I can't say when I may make pr , but ok

[2016-10-27 12:08] RyanZim commented on #171
LOL, I guess part of what makes me prefer `mkdirp` is the fact that I write quite a few npm scripts, so I tend to think in terms of bash commands.

Perhaps push this off to post-v1.0.0?

[2016-10-27 12:09] RyanZim commented on #145
FWIW, we will probably revisit this when we promisify fs-extra.

[2016-10-27 12:12] RyanZim commented on #292
See #294

[2016-10-27 12:17] RyanZim commented on #94
@jprichardson Both these issues have been fixed.

See https://github.com/jprichardson/node-fs-extra/pull/296

Closing, please reopen if I missed something.

[2016-10-27 12:17] #94 closed

[2016-10-27 12:41] RyanZim commented on #172
@jprichardson Is this still in the sights for v1.0.0?

[2016-10-27 12:44] RyanZim commented on #151
Apparently this has been fixed somewhere along the line; can't reproduce.

[2016-10-27 12:44] #151 closed

[2016-10-27 12:46] RyanZim commented on #127
Removing from v1.0.0 milestone, see https://github.com/jprichardson/node-fs-extra/issues/145#issuecomment-256533811 for details.

[2016-10-27 12:50] TheJaredWilcurt commented on #127
<p align="center"><img src="https://cloud.githubusercontent.com/assets/4629794/19767771/58e6900c-9c22-11e6-841e-d137207835ff.gif" alt="you make me sad.gif"></p>

[2016-10-27 13:03] RyanZim commented on #127
@TheJaredWilcurt Sorry to disappoint you, there are a lot of things we would like to do, but right now first priority is shipping v1.0.0 (preferably this week).

`fs.existsSync` is no longer depreciated, so that can be used safely.

I recommend using https://www.npmjs.com/package/path-exists for `fs.exists` for the time being.

[2016-10-27 13:54] GeorgeAdams95 commented on #285
well its an issue that we need to resolve right ? I suggest leaving it open to see if we can get a fix and close it if we can't within a few weeks

[2016-10-27 14:33] jprichardson commented on #127
Does using `fs.exists` even output a warning? I've never seen it and I use it frequently.

[2016-10-27 14:36] #239 closed

[2016-10-27 14:38] jprichardson commented on #172
`overwrite` seems more intuitive as a name. But we can push this off to 2.0.

[2016-10-27 14:47] #233 closed

[2016-10-27 14:47] #272 closed

[2016-10-27 15:41] RyanZim commented on #127
@jprichardson Not that I'm aware of. I think it might in older releases.

[2016-10-27 17:06] RyanZim commented on #199
@jprichardson Shall I try removing the `chmod` call?

[2016-10-27 17:06] RyanZim commented on #137
@jprichardson Can you look into this?

[2016-10-27 17:11] RyanZim commented on #135
@deyhle I can't reproduce, perhaps this has been fixed?

[2016-10-27 17:22] RyanZim commented on #83
@jprichardson That is the most simple way to do it; any edge cases that this wouldn't work?

[2016-10-27 17:50] jprichardson commented on #137
I think we need more info here that isolates a reproducible case to just `fs-extra`. Every single case is using a promisified version.

[2016-10-27 17:51] RyanZim opened #298 "API Docs"
@jprichardson Thinking about the documentation: `fs-extra`'s docs are rather large. Perhaps we are approaching the size to consider using documentation.js or similar. For smaller libs, I consider this more trouble than it's worth, but I think I see some benefits here. Thoughts?

Of course, I doubt we can get this done in time for v1.0.0, but looking into the future, this might be the route to purs

[2016-10-27 17:54] jprichardson commented on #199
Yep, sounds good.

[2016-10-27 17:56] jprichardson commented on #83
None that I could think of. This could could get harry though if symlinks/hardlinks/junctions are involved though.

[2016-10-27 17:59] jprichardson commented on #298
yeah, in the short-term (next few months), I think a changing the README to just have the table of contents and then a `docs/` directory with each module? Similar to how it's broken down in `lib/`.

[2016-10-27 18:36] RyanZim commented on #83
Hadn't thought of that. Perhaps we should check how other 3rd party copy libs handle this.

@jprichardson Is this still v1.0.0-scope?

[2016-10-27 18:40] RyanZim commented on #298
Personally, I prefer all the docs in one place. :grin:

documentation.js can output html, markdown, or inject the docs into the README. I'm not sure if we need a website, API.md or the inject function would do fine IMO.

I think keeping the docs inside the code would help keep them updated.

https://github.com/documentationjs/documentation

[2016-10-27 19:04] jprichardson commented on #83
Nope.

[2016-10-27 19:07] jprichardson commented on #298
Yeah, I like this too. That's what I meant, having a `docs/` directory in this repo. I typically prefer `markdown` because of its simplicity as introducing an additional dev dependency adds one more thing - plus, documentation tools typically requiring building from markdown anyways so we'd have working markdown docs already.

However, if you feel strongly in one direction, I'll follow your lead.

[2016-10-27 19:10] RyanZim commented on #298
I meant documentation inside code comments, right next to the methods. https://github.com/documentationjs/documentation uses JSDoc syntax, but is a bit smarter at documenting CommonJS modules and can output markdown as well as html. http://usejsdoc.org is a bit harder to use, and only outputs html.

[2016-10-27 19:13] jprichardson commented on #298
Ah, I despise JSDoc with a passion :) I'm from the school of thought that:

1. less lines of code is better (comments count here)
2. developers need to proactively develop good documentation outside of the code

I'm not claiming that I'm correct here nor that I can't change my mind, this is just where I stand today.

Let's delay this unless you have a strong preference not to.

[2016-10-27 19:22] RyanZim commented on #298
I don't really like it either, but for larger projects with lots of methods like lodash, async.js (:wink:), etc. sometimes it's a necessary evil.

I'm OK with that.

[2016-10-27 19:23] RyanZim commented on #148
@jprichardson I don't see this happening for v1.0.0, perhaps v1.0.1?

[2016-10-27 19:25] RyanZim commented on #298
@jprichardson I still prefer the docs all in one place, unless it's going to be a website with a sidebar nav (like http://nodejs.org/api). Not going to be dogmatic on this point, though.

[2016-10-27 23:41] RyanZim commented on #253
This has to do with the slight inaccuracy of `mtime`, try this:

    it('should still modify the file', function (done) {
        var file = path.join(TEST_DIR, Math.random() + 't-e', Math.random() + '.txt')
        fse.mkdirsSync(path.dirname(file))
        fs.writeFileSync(file, 'hello world')
        console.log('statsFirst', fs.statSync(file).mtime.getTime())
        setTimeout(function () {

[2016-10-27 23:41] #253 closed

[2016-10-28 03:54] #199 closed

[2016-10-28 19:31] RyanZim commented on #180
@jprichardson ping?

[2016-10-28 20:05] jprichardson commented on #180
Ideally yes, but if it's going to be a lot of work, no.

[2016-10-28 20:08] RyanZim commented on #180
OK, should document this though.

[2016-10-31 09:47] kadishmal commented on #263
Well, it's not an issue now because I'm passing the `clobber: true` option which bypasses the `fs.link()` command. If I don't pass, this issue occurs.

[2016-10-31 15:03] RyanZim commented on #263
I'll try to dig into this when I get time.

[2016-11-01 07:24] agnivade commented on #240
@jprichardson - I gave the incorrect PR (#286) tag to auto-close this issue. Would you mind manually closing this ?

[2016-11-01 11:47] #240 closed

[2016-11-03 09:59] fradiocey commented on #276
Hi, please close this issue, the path cannot accessible, that is why got above error message, and other caused my computer using Windows 7 OS, it is not supported SMB2

[2016-11-03 09:59] #276 closed

[2016-11-03 12:40] #234 closed

[2016-11-03 12:40] RyanZim commented on #279
If I don't get a response from @chrisrecher in a few days, I will close.

[2016-11-04 05:20] CxRes commented on #264
Maybe a `consider-later` tag might be more useful?

[2016-11-04 05:30] jprichardson commented on #264
@CxRes I'd accept a PR to just get this done and over :) Are you up for it?

[2016-11-04 05:49] CxRes commented on #264
@jprichardson Sadly, I have no knowledge of how to detect if a folder is locked in advance :( . If I understood how to fix it, I would have done a PR in August itself or at least suggested the code fix!

[2016-11-04 11:03] PeterDaveHello opened #309 "moveSync support"
Would you like to have `moveSync` just like `copy` and `copySync`? Thanks :smile:

[2016-11-04 12:38] RyanZim commented on #309
I wouldn't be opposed, @jprichardson ?

[2016-11-04 14:28] jprichardson commented on #309
Would definitely love this!

Are you up for a PR @PeterDaveHello?

[2016-11-04 14:39] PeterDaveHello commented on #309
I'm afraid I'm not sure if I have enough time to implement this, though I know it's not that huge, but I'm not familiar with fs-extra codes, so anyone want to do it please feel free to do, thanks :smile:

[2016-11-05 13:17] RyanZim commented on #135
Going to assume this is fixed. Closing.

[2016-11-05 13:17] #135 closed

[2016-11-06 13:32] mawni commented on #309
Hey guys, I've been using the `fs-extra` for a while and wanted to thank you all for this great and reliable module. In the meantime, I've been reading the source code for the past few days and if you don't mind, I'd like to help improve the `fs-extra` as much as I can, and please I want you to correct me wherever I am wrong.

Isn't true that the `move` functionality is essentially copying the `sr

[2016-11-06 13:52] PeterDaveHello commented on #309
@mawni thanks for your help, maybe you can consider to directly send your pull request?

[2016-11-06 13:53] PeterDaveHello commented on #309
@mawni btw, IMO, the `move` operation is not the same as the combination of `copy` + `remove` in the filesystem level, use the combination could also have performance concerns.

[2016-11-06 15:07] mawni commented on #309
@PeterDaveHello thanks for a great note. Please let me see what I can do and I'll send a pull request then.

[2016-11-06 21:48] jprichardson commented on #309
@mawni thanks. Both @RyanZim and I would love your help. One of the tricky things about moving files is moving them across devices in Windows. So before you submit a PR, please test in Windows moving across drives.

[2016-11-07 15:43] siyb commented on #177
Somehow, this does not seem to work any more (using Version 1.0.0):

 fs.remove(storagePath, err => {
  if(err)...;
  console.log('REMOVED', storagePath)
});

output:

REMOVED /tmp/myproject/test/unit/*

$ ls -l /tmp/myproject/test/unit/|wc -l
10

[2016-11-07 15:59] RyanZim commented on #177
This issue should be closed, it is fixed.

@siyb fs-extra does not support globbing. It did support it for `remove` and `move`, but this was inconsistent with the rest of the API, so we removed it in v1.0.0. https://github.com/jprichardson/node-fs-extra/blob/master/CHANGELOG.md#100--2016-11-01

[2016-11-07 15:59] #177 closed

[2016-11-07 17:23] jprichardson commented on #177
@siyb what happened is that `fs-extra` never supported globbing nor was it ever documented. `rimraf` came along and introduced globbing. `fs-extra` will support globbing at some point, but we need it to be consistent across the entire API.

If this is something you'd be willing to help us with, we'd love to have your help.

[2016-11-12 10:39] mawni opened #310 "Edit walkSync to return items like what walk emits"
What do you think about editing `walkSync` so that it would be consistent with `walk`? That is, `walkSync` also returns an array of items `{path:, stats:}` instead of only file paths, consistent with what `walk` emits as its data?

[2016-11-12 12:43] RyanZim commented on #310
@jprichardson ?

[2016-11-13 05:09] mawni commented on #310
Sorry, I just wanted to email @jprichardson to ask for his attention regarding this issue, but I accidentally email him through that PR. Bad mistake by me. Obviously that PR is not at all related to this issue. Please accept my apologies.

[2016-11-13 12:27] mawni opened #311 "move() not work when dest name not provided"
As I've been working on `moveSync` function, I noticed something about how the `move` function does its job. I'd like this to be clarified for myself since I want the `moveSync` to be consistent with `move`.

When you do something like,

[code]
it works just fine.

But, when you do like,
[code]
nothing happens.

However, if you run the same examples using Linux `mv` command on a Terminal, the move

[2016-11-13 17:56] jprichardson commented on #310
Yes, I like this a lot. However, since we just released 1.0.0, this wouldn't make it until 2.0.0 since it's a breaking change. I'd like to release 2.0.0 in early 2017 when we can drop Node v0.12 support.

[2016-11-13 18:10] jprichardson commented on #311
It's a common misconception that functions in `fs-extra` should behave like their Unix counterparts. I understand that because the introduction in the README discusses the Unix counterparts. However, I believe that we as programmers should be explicit as writing code is easy but going back and reading code is hard.

[code]

This not working is the expected behavior. However, it really shouldn't si

[2016-11-13 18:46] mawni commented on #311
I think that'd be very helpful in order to point out to the user that you are probably using the function incorrectly that you are getting this error.

[2016-11-13 21:15] mawni commented on #311
Also, definitely agree with this,

Very good point.

[2016-11-13 21:54] mawni commented on #310
Absolutely. So, I will send you a PR. Then, whenever you have time, you can test it and see if it works the way that it is supposed to.

[2016-11-14 02:53] binki commented on #279
Please include all of the necessary license quips in `LICENSE`. It is already hard enough to ensure that license info gets displayed properly in those “see OSS licenses” dialogs, we’re lucky if people even bother to look at `LICENSE`. But if `LICENSE` doesn’t have everything to begin with, properly extracting that information from a project is that much harder. Some people do care about trying to

[2016-11-14 14:00] RyanZim commented on #311
:+1: For throwing an error, :-1: for throwing an `EEXIST` error.

It should throw an error, but it should be a custom error, clearly explaining what the problem is.

I don't think we should need to document what our errors mean. The error message should make it self-evident what the error is about. For that reason, I oppose an `EEXIST` error.

Not to mention the fact that "faking" a system error i

[2016-11-14 14:16] RyanZim commented on #279
@binki It's not an outdated version of `rimraf`. It is a modification of the latest version to remove glob support (since we don't need that). You can see more details at https://github.com/jprichardson/node-fs-extra/pull/300. @jprichardson is "watching" the `rimraf` repo, if there was a bugfix, he would port it to our inlined version.

---

@jprichardson @binki Should we add this line to `LICENSE

[2016-11-14 15:33] jprichardson commented on #311
I think this is great.

This is going to change in some cases. This is valid if the source is file and dest a dir.

What about these cases (dest exists in all cases):

- source is file, dest is file?
- source is dir, dest is dir?
- source is dir, dest if file?

[2016-11-14 15:37] jprichardson commented on #279
I'm okay with this.

[2016-11-14 15:39] RyanZim commented on #279
@binki Would that be satisfactory? If so, PR welcome.

[2016-11-14 15:45] RyanZim commented on #311
OK, yeah. Don't have time ATM to investigate all this; if you can look into/implement this, great! If not, I will try to get to it sometime.

[2016-11-14 15:49] RyanZim opened #314 "move() limit option"
The docs for `move` show a `limit` option. https://github.com/jprichardson/node-fs-extra#movesrc-dest-options-callback

Since v1, our version of ncp does not respect `limit`. I was not aware of the fact that `move` used it when I removed it from ncp. It was undocumented for `copy`, and I assumed it could be removed safely.

Since we are using graceful-fs, `limit` is sort of pointless.

@jprichards

[2016-11-14 15:52] jprichardson commented on #311
No prob.

[2016-11-14 15:53] jprichardson commented on #314
Yep.

[2016-11-14 16:24] binki commented on #279
@jprichardson @RyanZim I would much rather this be added to `LICENSE`:

[code]

etc., etc.…

Maybe because both your project and ncp is MIT you could just list all of the copyright lines and then the MIT and do a separate one for all ISC projects, but idk if there’s some magic copyright law stuff about that. It’s easier/safer to just include the whole blobs. I could PR for this and try to find all

[2016-11-14 16:34] RyanZim commented on #279
I don't know what you think @jprichardson, but I would favor having the MIT license in `LICENSE` and leaving a note that `ncp`, `rimraf`, etc. use different licenses and put a `LICENSE` file in the subdirectories in `lib/` or print the entire license in the header (ISC is even shorter than MIT).

[2016-11-14 16:42] binki commented on #279
Another thought is to also move all vendored code to a `vendor` directory, each project to its own directory with its own `LICENSE` too. That way you can clearly separate what code is original and belonging to this project from that which is copied.

I still would like this projects `LICENSE` to have the full licenses of copied projects in it though because I am thinking of the possibility of tryi

[2016-11-14 18:11] RyanZim commented on #279
Ping @jprichardson for the final decision.

[2016-11-14 18:12] jprichardson commented on #279
`ncp` in fs-extra is significantly different than the original. `rimraf` is starting to be different. At what point is it not considered 'vendored' anymore?

I want to be in compliance with licenses and am fine with doing what it takes, but honestly, without legal expertise here, some of this feels like bikeshedding.

I'd be okay with this. After awhile though, they'll be different enough that the

[2016-11-14 18:22] binki commented on #279
OK, I’ll see when I get put together a PR.

I’m not sure how that sort of thing is supposed to work. It would be easiest/safest to just create blind reimplmentations if possible :-/. It’s not like the particular tricks those libraries use to get past things can’t be copied, but the structure maybe? xD

[2016-11-14 18:30] RyanZim commented on #279
Safest, yes. Easiest: I don't know about that. `rimraf` would be hard. :wink:

[2016-11-14 18:31] binki commented on #279
Easier than becoming a lawyer? :-p

[2016-11-14 21:57] RyanZim commented on #314
PR done: #316.

[2016-11-14 22:01] r-murphy commented on #310
It would be great to also have directories included in the list as part of this change.